$colorDarkBlue: #121429;
$colorGrey: #6d6f88;
$colorWhite: #fff;

$gradientOrangeRed: linear-gradient(264.94deg, #fb2724 4.56%, #f86d41 96.51%);

@mixin fontBaseSemibold {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
}
@mixin fontMicroRegular {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.2;
}
@mixin fontTitle1Medium {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.18;
}
