$colorDarkBlue: #121429;
$colorDarkGrey: #393c59;
$colorGrey: #6d6f88;
$colorOrange: #f86d41;
$colorWhite: #fff;

$gradientBlueRedLight: linear-gradient(82.48deg, #21243f 3.98%, #3b293e 94.48%);
$gradientListItem: linear-gradient(239.47deg, #fb2724 4.67%, #f84541 83.56%);
$gradientOrangeRed: linear-gradient(264.94deg, #fb2724 4.56%, #f86d41 96.51%);

@mixin fontBaseLight {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}
@mixin fontBaseRegular {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
@mixin fontBaseSemibold {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
}
@mixin fontMicroRegular {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.2;
}
@mixin fontSmallLight {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.2;
}
@mixin fontSmallRegular {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
}
@mixin fontTitle1Medium {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.18;
}
