.DNctd {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background: rgb(255, 240, 240);
}

.gLfggW {
	width: 100%;
	-webkit-box-flex: 1;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	max-width: 1366px;
	margin: 0px auto;
	padding: 0px 15px;
}

@media (min-width: 1025px) {
	.gLfggW {
		padding: 0px 50px;
	}
}

.kcMnTR {
	-webkit-box-flex: 1;
	flex-grow: 1;
	display: flex;
	align-self: center;
	width: 100%;
}

.hmbbVq {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.dCqpiV {
	padding-top: 20px;
	position: relative;
	text-align: center;
	margin-bottom: 13px;
	z-index: 2;
	height: 44px;
}

.faYshH {
	position: relative;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	flex-grow: 1;
	max-width: 706px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.erQRwD {
	margin-top: 22px;
}

.lnmrnn {
	max-width: 708px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	text-align: center;
}

.jMuQlo {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 20px;
	text-align: center;
	color: rgb(51, 51, 51);
}

@media (min-width: 1025px) {
	.jMuQlo {
		max-width: 708px;
		font-size: 32px;
		line-height: 44px;
	}
}

.dHjQXA {
	font-size: 22px;
	max-width: 328px;
}

@media (min-width: 1025px) {
	.dHjQXA {
		line-height: 28px;
	}
}

.dHwwwF {
	height: 42px;
	margin-top: auto;
	margin-bottom: 30px;
}

@media (min-width: 1025px) {
	.dHwwwF {
		margin-top: 20px;
	}
}

.gmZNhX {
	background: linear-gradient(165.54deg, rgb(20, 19, 51) -33.39%, rgb(32, 34, 97) 15.89%, rgb(84, 60, 151) 55.84%, rgb(105, 57, 162) 74.96%);
	color: rgb(251, 251, 255);
	opacity: 1;
	width: 330px;
	max-width: 100%;
	height: 40px;
	z-index: 2;
	border-radius: 8px;
	border: none;
	margin: 0px auto;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	user-select: none;
	padding: 5px 10px;
	align-self: center;
	outline: none;
}

@media (min-width: 1025px) {
	.gmZNhX {
		height: 50px;
	}
}

.eBHsJq {
	box-shadow: rgba(84, 60, 151, 0.31) 0px 12px 23px;
	border-radius: 26px;
	transition: all 0.2s ease 0s;
	position: relative;
	left: 0px;
	transform: translateX(0px);
	display: flex;
	margin-bottom: 45px;
	font-size: 18px;
	line-height: 21px;
	height: 50px;
}

.eBHsJq::after {
	position: absolute;
	content: "";
	inset: 0px;
	animation: 2s ease-out 0s infinite normal none running dcazQS;
	border-radius: 26px;
}

@keyframes dcazQS {
	0% {
		box-shadow: 0 0 0 0 rgba(84, 60, 151, .3), 0 0 0 0 rgba(84, 60, 151, .2)
	}

	18% {
		box-shadow: 0 0 0 0 rgba(84, 60, 151, .3), 0 0 0 0 rgba(84, 60, 151, .2)
	}

	100% {
		box-shadow: 0 0 0 16px rgba(84, 60, 151, 0), 0 0 0 27px rgba(84, 60, 151, 0)
	}
}

.bAsCaS {
	display: inherit;
	-webkit-box-align: inherit;
	align-items: inherit;
	-webkit-box-pack: inherit;
	justify-content: inherit;
}

.gmZxbv {
	transform: translate(0px, 10px);
	transition: all 1.5s ease 0s;
}

.hfJfWq {
	transform: translate(0px, 0px);
	transition: all 1.5s ease 0s;
}

.klZNhx {
	display: flex;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
}

.fbBjqK {
	-webkit-box-pack: center;
	justify-content: center;
	padding: 0px !important;
	background: transparent !important;
}

.hRwmqY {
	padding-left: 8px;
	padding-right: 8px;
}

.JerwJ {
	display: flex;
	position: relative;
	padding: 0px !important;
}

.hzUWJw {
	background: rgb(142, 140, 240);
	width: 16px;
	height: 16px;
	border-radius: 50%;
	position: absolute;
}

.dIaJBF {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.dIaJBF.Mui-disabled {
	cursor: default;
}

.fJCXTp {
	flex-shrink: 0;
	display: flex;
	padding-right: 8px;
}

.ghZKZI .MuiSvgIcon-root {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid rgb(142, 140, 240);
	color: white;
}

.ghZKZI .MuiStepIcon-root.Mui-completed {
	color: rgb(142, 140, 240);
	border: none;
}

.ghZKZI .MuiStepIcon-text {
	fill: rgb(142, 140, 240);
}

.ghZKZI .MuiStepLabel-iconContainer {
	padding-right: 0px;
}

.dSluCg {
	user-select: none;
	width: 1em;
	height: 1em;
	display: inline-block;
	fill: currentcolor;
	flex-shrink: 0;
	transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-size: 1.5rem;
}

.kUTqzT {
	display: block;
	transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	color: rgba(0, 0, 0, 0.38);
}

.kUTqzT.Mui-completed {
	color: rgb(25, 118, 210);
}

.kUTqzT.Mui-active {
	color: rgb(25, 118, 210);
}

.gCupzB {
	width: 100%;
	color: rgba(0, 0, 0, 0.6);
}

.eylmqx {
	background-color: rgb(255, 255, 255);
	color: rgba(0, 0, 0, 0.87);
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	box-shadow: none;
}

.jEFkXg {
	display: flex;
	flex-direction: row;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	padding: 8px;
}

.eZhOFP {
	width: 88px;
	padding: 0px !important;
	background: none !important;
}

.DDHxz {
	position: relative;
	overflow: hidden;
	display: block;
	height: 4px;
	z-index: 0;
	background-color: rgb(167, 202, 237);
}

.dihdCp {
	width: 50%;
}

.dIHGHE {
	width: 88px;
	padding: 0px !important;
	background: none !important;
}

.dIHGHE .MuiLinearProgress-barColorPrimary {
	background: rgb(86, 204, 242);
}

.dIHGHE .MuiMobileStepper-progress {
	width: 100%;
	height: 6px;
	background: rgb(210, 209, 249);
}

.eZhOFP .MuiMobileStepper-progress {
	width: 100%;
	height: 6px;
	background: rgb(210, 209, 249);
}

.csrNVf {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	top: 0px;
	transition: transform 0.4s linear 0s;
	transform-origin: left center;
	background-color: rgb(25, 118, 210);
}

.eZhOFP .MuiLinearProgress-barColorPrimary {
	background: rgb(142, 140, 240);
}

.iDsNAU {
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	color: rgb(142, 140, 240);
	margin-top: 5px;
	margin-bottom: 20px;
	position: relative;
}

.kUgjId {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	z-index: 1;
}

.iIiHwe {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: left;
	margin-bottom: 30px;
	max-width: 330px;
}

.hcngZI {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	border: 1px solid rgb(224, 224, 224);
	box-sizing: border-box;
	width: 100%;
	max-width: 360px;
	border-radius: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
	font-size: 14px;
	cursor: pointer;
	height: 64px;
	padding: 0px 16px;
	box-shadow: rgba(84, 60, 151, 0.25) 2px 2px 6px;
	background: rgb(234, 238, 247);
}

.hcngZI:active {
	transition: all 100ms ease-in-out 0s;
	transform: scale(1.1);
	background: linear-gradient(165.54deg, rgb(20, 19, 51) -33.39%, rgb(32, 34, 97) 15.89%, rgb(84, 60, 151) 55.84%, rgb(105, 57, 162) 74.96%);
	color: rgb(251, 251, 255);
}

.dBDiKv {
	font-size: 14px;
	line-height: 140%;
}

.haYguX {
	fill: rgb(255, 255, 255);
	font-size: 0.75rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

.ceHrsg .MuiStepIcon-root.Mui-completed {
	color: rgb(86, 204, 242);
	border: none;
}

.ceHrsg .MuiStepIcon-text {
	fill: rgb(86, 204, 242);
}

.ceHrsg .MuiStepLabel-iconContainer {
	padding-right: 0px;
}

.ceHrsg .MuiSvgIcon-root {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid rgb(86, 204, 242);
	color: white;
}

.gWoBUK {
	width: 88px;
	padding: 0px !important;
	background: none !important;
}

.gWoBUK .MuiLinearProgress-barColorPrimary {
	background: rgb(187, 107, 217);
}

.gWoBUK .MuiMobileStepper-progress {
	width: 100%;
	height: 6px;
	background: rgb(210, 209, 249);
}

.QLXaU .MuiStepIcon-text {
	fill: rgb(187, 107, 217);
}

.QLXaU .MuiStepLabel-iconContainer {
	padding-right: 0px;
}

.QLXaU .MuiSvgIcon-root {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid rgb(187, 107, 217);
	color: white;
}

.gVYtNC {
	text-align: center;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	flex-grow: 1;
	z-index: 1;
	max-width: 328px;
	margin-right: auto;
	margin-left: auto;
}

.laAuwQ {
	max-width: 330px;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
}

.cOHEcz {
	align-self: flex-start;
	margin-bottom: 30px;
	text-align: left;
	font-size: 24px;
	line-height: 28px;
}

.ljPgvb {
	max-width: 708px;
	width: 100%;
	margin: 0px auto;
}

.cYQxOx {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	max-width: 466px;
	margin: 0px auto;
}

.cUlASv {
	margin-top: 10px;
}

.fKLyPJ {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	border: 1px solid rgb(224, 224, 224);
	box-sizing: border-box;
	border-radius: 10px;
	margin-bottom: 15px;
	cursor: pointer;
	height: 64px;
	padding: 0px 16px;
	box-shadow: rgba(84, 60, 151, 0.25) 2px 2px 6px;
	background: rgb(234, 238, 247);
}

.fKLyPJ:active {
	transition: all 100ms ease-in-out 0s;
	transform: scale(1.1);
}

.eueCMM {
	-webkit-box-pack: center;
	justify-content: center;
	margin-bottom: 20px;
}

.kmwfrx {
	font-size: 14px;
	line-height: 20px;
}

.fUskQx {
	background: linear-gradient(165.54deg, rgb(20, 19, 51) -33.39%, rgb(32, 34, 97) 15.89%, rgb(84, 60, 151) 55.84%, rgb(105, 57, 162) 74.96%);
	position: absolute;
	inset: 0px;
}

.czJQmu {
	position: relative;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.hAmJor {
	-webkit-box-flex: 0;
	flex-grow: 0;
	max-width: 322px;
	margin-left: auto;
	margin-right: auto;
}

.cZGlIm {
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 250px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.fdGOhE {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 20px;
	text-align: center;
	color: rgb(251, 251, 255);
}

@media (min-width: 1025px) {
	.fdGOhE {
		max-width: 708px;
		font-size: 32px;
		line-height: 44px;
	}
}

.cgmovl {
	align-self: flex-start;
	font-size: 24px;
	line-height: 28px;
}

.guidO {
	font-size: 14px;
	text-align: center;
	line-height: 140%;
	margin-bottom: 40px;
	color: rgb(251, 251, 255);
}

@media (min-width: 1025px) {
	.guidO {
		font-size: 18px;
	}
}

@media (min-width: 1025px) {
	.dPuGfj {
		font-size: 14px;
	}
}

.kCdEXO {
	z-index: 1;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

.WFsyq {
	background: rgb(251, 251, 255);
	color: rgb(106, 58, 162);
	opacity: 1;
	width: 330px;
	max-width: 100%;
	height: 40px;
	z-index: 2;
	border-radius: 8px;
	border: none;
	margin: 0px auto;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	user-select: none;
	padding: 5px 10px;
	align-self: center;
	outline: none;
}

@media (min-width: 1025px) {
	.WFsyq {
		height: 50px;
	}
}

.gnxrzC {
	margin: auto auto 30px;
	font-size: 18px;
	line-height: 21px;
}

@media (min-width: 1025px) {
	.gnxrzC {
		margin: auto auto 50px;
	}
}

.hIGegT {
	width: 160px;
}

.fyKvsU {
	margin: 0px;
	height: 49px;
	border-radius: 16px;
}

.eaZZYm {
	background: transparent;
	border: 1px solid;
	margin-right: 10px;
}

.hPpSme {
	background: rgb(251, 251, 255);
	color: rgb(106, 58, 162);
}

.ixUwNa {
	max-width: 330px;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
}

.hqRkVy {
	align-self: flex-start;
	margin-bottom: 30px;
	text-align: left;
	font-size: 24px;
	line-height: 28px;
}

.fDMxgM {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	margin-top: -20px;
	margin-bottom: 30px;
}

.fFnIUk {
	align-self: flex-start;
	text-align: left;
}

.lelMRp {
	max-width: 708px;
	width: 100%;
	margin: 0px auto;
}

.cvvznG {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	max-width: 466px;
	margin: 0px auto;
}

.bjrHcJ {
	margin-top: 10px;
}

.eRnWZW {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	border: 1px solid rgb(224, 224, 224);
	box-sizing: border-box;
	border-radius: 10px;
	margin-bottom: 15px;
	cursor: pointer;
	height: 64px;
	padding: 0px 16px;
	box-shadow: rgba(84, 60, 151, 0.25) 2px 2px 6px;
	background: rgb(234, 238, 247);
}

.eRnWZW:active {
	transition: all 100ms ease-in-out 0s;
	transform: scale(1.1);
}

.ksDIxF {
	-webkit-box-pack: center;
	justify-content: center;
	margin-bottom: 20px;
}

.brBrab {
	font-size: 14px;
	line-height: 20px;
}

.kNHpoh {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	margin-top: -20px;
	margin-bottom: 30px;
}

.kNHpoh strong {
	display: inline-block;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
}

.fYUixa {
	align-self: flex-start;
	text-align: left;
}

.dEXKIr {
	position: relative;
	width: 100%;
	max-width: 327px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-flex: 1;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.hfKibd {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: bold;
	text-align: center;
	color: rgb(251, 251, 255);
}

.hfKibd b {
	font-weight: bold;
	text-align: center;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(90.6deg, #6A4DBC 0.47%, #F2994A 137.94%);
	-webkit-background-clip: text;
	background-clip: text;
	border-radius: 20px;
}

.csBHNX {
	font-size: 14px;
	line-height: 140%;
	margin-bottom: 20px;
	color: rgb(251, 251, 255);
}

@media (min-width: 1025px) {
	.csBHNX {
		font-size: 18px;
	}
}

.bqnYHf {
	text-align: center;
	line-height: 180%;
	font-size: 14px;
}

.bqnYHf b {
	display: block;
	font-size: 24px;
	line-height: 28px;
}

.hoXsIO {
	margin: 50px auto 30px;
	height: 49px;
}

.fXQfKj {
	max-width: 600px;
	margin: 0px auto;
}

.bXFDnq {
	margin-bottom: 30px;
	text-align: left;
	font-size: 24px;
	line-height: 28px;
}

.cOhdRz {
	font-size: 14px;
	line-height: 140%;
	color: rgb(51, 51, 51);
}

@media (min-width: 1025px) {
	.cOhdRz {
		font-size: 18px;
	}
}

.iAkmNl {
	margin-bottom: 30px;
	font-size: 14px;
}

.joFEVD {
	display: flex;
	max-width: 450px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 0px auto 50px;
}

.gtaMEV {
	-webkit-box-align: center;
	align-items: center;
	flex-direction: column;
	height: 157px;
}

.gWcsxl {
	width: 102px;
	position: relative;
	z-index: 1;
}

.gWcsxl::before {
	position: absolute;
	content: "";
	right: 18px;
	top: 16px;
	width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgb(51, 51, 51);
}

.dlIuYB {
	width: 220px;
}

.bqGtyk {
	appearance: none;
	width: 100%;
	background-color: transparent;
	color: rgb(51, 51, 51);
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
	height: 40px;
	border: 1px solid rgb(224, 224, 224);
	border-radius: 20px;
	padding: 0px 18px;
	transition: all 0.2s ease 0s;
}

.gtnABS {
	background-color: rgb(251, 251, 255);
}

.cJXwMi {
	height: 49px;
}

.dHDtTl {
	-webkit-box-flex: 0;
	flex-grow: 0;
}

.gCmgjg {
	max-width: 600px;
	margin: 0px auto;
}

.XHLgM {
	text-align: left;
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 28px;
}

.gurCjh {
	margin-bottom: 30px;
	line-height: 24px;
	font-size: 14px;
	text-align: left;
	max-width: 300px;
	color: rgb(79, 79, 79);
}

.XuxHb {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 0px auto 10px;
}

.bZiNCg {
	margin-top: 50px;
	margin-bottom: 15px;
	height: 49px;
}

.iPQVa-d {
	max-width: 600px;
	margin: 0px auto;
	width: 100%;
}

.HcTRc {
	margin-bottom: 10px;
	text-align: left;
	font-size: 24px;
	line-height: 28px;
}

.jiOksP {
	margin-bottom: 20px;
	font-size: 14px;
}

.bXCxL {
	line-height: 24px;
	text-align: left;
	margin-bottom: 30px;
}

.gNwTFR {
	position: relative;
	max-width: 400px;
	margin: 0px auto;
}

.fnsbuE {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 10px;
}

.jlUouP {
	width: 100%;
	background: transparent;
	color: rgb(51, 51, 51);
	border: 1px solid rgb(51, 51, 51);
	border-radius: 25px;
	padding: 10px 15px;
	font-size: 14px;
	line-height: 24px;
}

.knpuDa {
	position: absolute;
}

.hviUxo {
	position: absolute;
	width: 100%;
	background: rgb(251, 251, 255);
	border-radius: 10px;
	max-height: 265px;
	overflow: auto;
}

@media (min-width: 1025px) {
	.hviUxo {
		max-height: 285px;
	}
}

.fJxMeM {
	z-index: inherit;
	margin-bottom: 15px;
	border-radius: 16px;
}

.kYEnZY {
	margin-top: 50px;
	height: 50px;
}

.cpRcCX {
	z-index: 1;
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	margin: 20px auto 10px;
	max-width: 330px;
}

.gbtlrf {
	display: inline;
	text-transform: capitalize;
	color: rgb(242, 201, 76) !important;
}

.iwHwCI {
	z-index: 1;
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	margin-bottom: 30px;
	color: rgb(210, 209, 249);
}

.ksiNlk {
	position: relative;
	margin-bottom: 20px;
	z-index: 5;
}

.fbTntb {
	margin-bottom: 40px;
}

.kWyNFz {
	transform: rotate(-90deg) scaleY(-1);
	width: 185px;
	height: 185px;
	margin: 0px auto;
	display: block;
}

.iUQIkl {
	position: absolute;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: -3px;
	left: 0px;
	z-index: 4;
}

.dYFbFC {
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	color: rgb(251, 251, 255);
}

.hMVwyQ {
	font-size: 14px;
	color: rgb(251, 251, 255);
	line-height: 24px;
	max-width: 400px;
	margin: 0px auto;
	z-index: 5;
}

.kdMDuO {
	display: flex;
	align-items: flex-start;
	margin-bottom: 5px;
}

@media (min-width: 1025px) {
	.kdMDuO {
		margin-bottom: 15px;
	}
}

.dpqOtF {
	margin-left: 10px;
}

.jyygln {
	text-align: left;
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 28px;
}

.ewFazY {
	max-width: 708px;
	width: 100%;
	margin: 0px auto;
}

.iGATRA {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	max-width: 466px;
	margin: 0px auto;
}

.kBKBjj {
	margin-top: 10px;
}

.jiNJkv {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	border: 1px solid rgb(224, 224, 224);
	box-sizing: border-box;
	border-radius: 10px;
	margin-bottom: 20px;
	cursor: pointer;
	height: 64px;
	padding: 0px 16px;
	box-shadow: rgba(84, 60, 151, 0.25) 2px 2px 6px;
	background: rgb(234, 238, 247);
}

.jiNJkv:active {
	transition: all 100ms ease-in-out 0s;
	transform: scale(1.1);
}

.ejMONe {
	font-size: 14px;
	line-height: 20px;
}

.kCRHBT {
	position: relative;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
}

.jmfSQl {
	width: 250px;
	height: 250px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.cqlNHs {
	background: transparent;
	margin: 0px auto;
	outline: none;
	overflow: hidden;
	width: 250px;
}

.irAYEh {
	font-size: 16px;
	line-height: 26px;
	color: rgb(251, 251, 255);
	text-align: center;
	margin-bottom: 20px;
	font-weight: 600;
	max-width: 322px;
}

.irAYEh b {
	font-weight: 600;
	color: rgb(187, 108, 217);
}

.dOIAnT {
	font-size: 14px;
	text-align: center;
	line-height: 140%;
	margin-bottom: 40px;
	color: rgb(251, 251, 255);
	max-width: 322px;
}

.dOIAnT b {
	color: rgb(85, 204, 242);
}

.ePEVuJ {
	z-index: 1;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

.fvuHoh {
	background: transparent;
	border: 1px solid;
	height: 49px;
	margin: 0px;
}

.YQKlp {
	background: rgb(251, 251, 255);
	color: rgb(106, 58, 162);
	margin: 0px 0px 0px 10px;
	height: 49px;
}

.kePrjD {
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	color: rgb(86, 204, 242);
	margin-top: 5px;
	margin-bottom: 20px;
	position: relative;
}

.uBSEN {
	position: relative;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	max-width: 330px;
	margin-left: auto;
	margin-right: auto;
}

.gBgZyc {
	width: 250px;
	height: 250px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.jlXnWf {
	background: transparent;
	margin: 0px auto;
	outline: none;
	overflow: hidden;
	width: 250px;
}

.dpUYxZ {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: rgb(251, 251, 255);
	text-align: center;
	margin-bottom: 20px;
}

.gMiXwj {
	color: rgb(242, 201, 76);
	text-transform: capitalize;
}

.fIuiQL {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

.jsKTLH {
	background: transparent;
	border: 1px solid;
	height: 49px;
	margin: 0px;
	border-radius: 16px;
}

.diEtHD {
	background: rgb(251, 251, 255);
	color: rgb(106, 58, 162);
	margin: 0px 0px 0px 10px;
	height: 49px;
	border-radius: 16px;
}

.YsKoO {
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 250px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.eJFUKp {
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	color: rgb(187, 107, 217);
	margin-top: 5px;
	margin-bottom: 20px;
	position: relative;
}

.ilneTN {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 250px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.gmPlYm {
	font-size: 14px;
	text-align: center;
	line-height: 140%;
	margin-bottom: 40px;
	color: rgb(251, 251, 255);
}

.lhAtSz {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 250px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.eIaMQF {
	-webkit-box-flex: 1;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	z-index: 1;
	padding-top: 96px;
}

.gywzLB {
	font-size: 18px;
	min-height: 56px;
	margin-bottom: 10px;
	max-width: 330px;
	line-height: 28px;
}

.hcwlYa {
	width: 330px;
}

.jbKeDd {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	color: rgb(142, 140, 240);
	margin-bottom: 15px;
}

.fhqkFZ {
	font-weight: 600;
	font-size: 14px;
	line-height: 120%;
}

.DjHWs.DjHWs {
	border-radius: 10px;
	height: 8px;
	margin-bottom: 30px;
	background-color: rgb(230, 230, 230);
}

.DjHWs .MuiLinearProgress-barColorPrimary {
	background: rgb(142, 140, 240);
}

.kIRWST {
	color: rgb(86, 204, 242);
}

.kzuA-Dw {
	color: rgb(187, 107, 217);
}

.fZZuWk.fZZuWk {
	background-color: rgb(230, 230, 230);
}

.fZZuWk .MuiLinearProgress-barColorPrimary {
	background: rgb(86, 204, 242);
}

.cQDYmB.cQDYmB {
	background-color: rgb(230, 230, 230);
}

.cQDYmB .MuiLinearProgress-barColorPrimary {
	background: rgb(187, 107, 217);
}

.boSFNg {
	display: flex;
	width: 82px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.chMTSR {
	width: 8px;
	height: 8px;
	background: rgb(236, 200, 188);
	border-radius: 50%;
}

.cpMoZJ {
	color: rgb(142, 140, 240);
	width: 16px;
	height: 12px;
}

.bmKCbi {
	color: rgb(86, 204, 242);
}

.cuRKWE {
	color: rgb(187, 107, 217);
}

.Yyltn {
	text-align: center;
	font-size: 14px;
	line-height: 140%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.dyDavF {
	text-align: center;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

@media (min-width: 1025px) {
	.dyDavF {
		-webkit-box-pack: start;
		justify-content: flex-start;
	}
}

.cIErTT {
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 30px;
	max-width: 330px;
}

.cGFcHc {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.dfUZET {
	width: 100%;
	position: relative;
}

.irDRdg {
	max-width: 300px;
	margin: 30px auto 20px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
}

.gWvoJm {
	border-radius: 16px;
	margin-top: 30px;
}

.bwKcLQ {
	text-align: left;
	color: rgb(235, 87, 87);
	font-size: 12px;
	margin-top: 5px;
	margin-left: 15px;
}

.iqoCmP {
	width: 100%;
	background: transparent;
	color: rgb(235, 87, 87);
	border: 1px solid rgb(235, 87, 87);
	border-radius: 25px;
	padding: 10px 15px;
	font-size: 14px;
	line-height: 24px;
}

.iqoCmP:focus {
	outline: none;
}

.bOBjZk {
	background: rgb(255, 240, 240);
	position: absolute;
	inset: 0px;
}

.cEixVp {
	max-width: 330px;
	z-index: 1;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.iTZNoW {
	font-size: 14px;
	line-height: 180%;
	margin-bottom: 10px;
}

.iTZNoW {
	font-size: 14px;
	line-height: 180%;
	margin-bottom: 10px;
}

.aonOc {
	font-weight: 600;
}

.iTZNoW {
	font-size: 14px;
	line-height: 180%;
	margin-bottom: 10px;
}

.GEfAA {
	color: rgb(106, 58, 162);
	margin-bottom: 20px;
	font-weight: 600;
}

.kIJMVA {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	max-width: 440px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.fJCiSe {
	background: rgb(234, 238, 247);
	color: rgb(51, 51, 51);
	border: 1px solid rgb(224, 224, 224);
	box-shadow: rgba(84, 60, 151, 0.25) 2px 2px 6px;
	border-radius: 12px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	font-weight: 600;
	width: 72px;
	height: 72px;
	position: relative;
	z-index: 1;
}

.gdPRzp {
	display: flex;
	margin-top: 20px;
}

.kYvHAK {
	font-size: 12px;
	line-height: 16px;
	color: rgb(52, 52, 52);
	width: 272px;
}

.kcFeJB {
	background: linear-gradient(165.54deg, rgb(20, 19, 51) -33.39%, rgb(32, 34, 97) 15.89%, rgb(84, 60, 151) 55.84%, rgb(105, 57, 162) 74.96%);
	color: rgb(251, 251, 255);
	opacity: 0.5;
	width: 330px;
	max-width: 100%;
	height: 40px;
	z-index: 2;
	border-radius: 8px;
	border: none;
	margin: 0px auto;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	user-select: none;
	padding: 5px 10px;
	align-self: center;
	outline: none;
	cursor: not-allowed;
}

@media (min-width: 1025px) {
	.kcFeJB {
		height: 50px;
	}
}

.hsBLBH {
	margin-top: 60px;
	position: relative;
}

.ioFhZE {
	font-size: 12px;
	line-height: 120%;
	margin-top: 20px;
	color: rgb(78, 78, 78);
}

.ekgrCC {
	background: linear-gradient(165.54deg, rgb(20, 19, 51) -33.39%, rgb(32, 34, 97) 15.89%, rgb(84, 60, 151) 55.84%, rgb(105, 57, 162) 74.96%);
	color: rgb(251, 251, 255);
	border: 1px solid rgb(224, 224, 224);
	box-shadow: rgba(84, 60, 151, 0.25) 2px 2px 6px;
	border-radius: 12px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	font-weight: 600;
	width: 72px;
	height: 72px;
	position: relative;
	z-index: 1;
}

.klqMQQ {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: column;
	max-width: 706px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.kiHEvp {
	width: 330px;
	z-index: 2;
}

.jhWAHf {
	border: 1px solid rgb(39, 174, 96);
	color: rgb(39, 174, 96);
	border-radius: 8px;
	margin-bottom: 10px;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 600;
}

.fBfRZC {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 28px;
}

.gXALCA {
	font-size: 14px;
	margin-bottom: 20px;
	font-weight: 600;
}

.gUNqYb {
	margin-bottom: 30px;
}

.hTotWt {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	width: 100%;
	font-weight: 700;
	z-index: 1;
}

.jnyfGM {
	font-weight: 700;
}

.dYdEAC {
	color: rgb(153, 116, 246);
}

.fOVuSw {
	height: 1px;
	width: 100%;
	background: rgb(106, 58, 162);
	margin-bottom: 20px;
	margin-top: 20px;
}

@media (min-width: 1025px) {
	.fOVuSw {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

.dCNCmo {
	margin-top: 0px;
	background: rgb(153, 116, 246);
	margin-bottom: 20px;
}

.fWdPuc {
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-bottom: 3px;
}

.hrTfig {
	font-size: 14px;
	margin-bottom: 5px;
	color: rgb(39, 174, 96);
	font-weight: 600;
	align-self: flex-start;
}

.kTGMNb {
	position: relative;
	height: 24px;
	width: 145px;
}

.hXDIEl {
	position: absolute;
	inset: 0px;
}

.fjEkYl {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	margin: 0px auto;
	font-size: 36px;
	line-height: 140%;
	font-weight: bold;
}

.cvIVbD {
	position: relative;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	color: rgb(250, 250, 250);
	padding-left: 12px;
	font-weight: 400 !important;
	font-size: 14px !important;
}

.gCIPJZ {
	margin-right: -10px;
	width: max-content;
}

.cJxUjk {
	padding: 3px 15px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.erLsBe {
	width: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.cgqtla {
	margin-bottom: 0px;
}

.gGEAit {
	font-size: 18px;
	margin-left: 20px;
}

.kDhyUv {
	margin-top: 20px;
}

.iekGFn {
	font-size: 12px;
	margin-top: 20px;
	line-height: 20px;
}

.cTMqIb {
	margin-top: 0px;
	margin-bottom: 20px;
}

.cZhKtG {
	font-weight: 600;
}

.fBTUSN {
	background: rgb(39, 174, 96);
	color: rgb(251, 251, 255);
	opacity: 1;
	width: 330px;
	max-width: 100%;
	height: 40px;
	z-index: 2;
	border-radius: 8px;
	border: none;
	margin: 0px auto;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	user-select: none;
	padding: 5px 10px;
	align-self: center;
	outline: none;
}

@media (min-width: 1025px) {
	.fBTUSN {
		height: 50px;
	}
}

.gYwApY {
	background: rgb(105, 177, 63);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
	border-radius: 30px;
	height: 49px;
	font-size: 18px;
}

.eaHWzP {
	margin-right: 10px;
}

.kvqubl {
	color: rgb(130, 130, 130);
	align-self: flex-start;
	margin-bottom: 0px;
}

.jvzkQJ {
	font-weight: normal;
	font-size: 18px;
	text-decoration: line-through;
	color: rgb(130, 130, 130);
}

.gYlDPL {
	background: rgb(255, 240, 240);
	position: absolute;
	inset: 0px;
}

.fFxLpl {
	position: sticky;
	top: 0px;
	z-index: 3;
	background: rgb(234, 238, 247);
	width: 360px;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 30px;
	margin-bottom: 30px;
}

.ipqbVO {
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	line-height: 19px;
	color: rgb(26, 26, 26);
}

.jvXwoD {
	color: rgb(106, 58, 162);
	font-weight: bold;
}

.fVfCdJ {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	margin-bottom: 20px;
	max-width: 330px;
	margin-left: auto;
	margin-right: auto;
}

.nqEOh {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 28px;
	align-self: flex-start;
}

.fRPWrG {
	text-transform: capitalize;
}

.isUhrE {
	font-size: 15px;
	line-height: 180%;
	font-weight: 600;
	margin-bottom: 30px;
}

.iiXMUf {
	margin-bottom: 20px;
	align-self: center;
}

.bcAFpE {
	max-width: 466px;
}

.bkztsc {
	display: flex;
	-webkit-box-align: baseline;
	align-items: baseline;
	font-size: 15px;
	line-height: 140%;
	margin-bottom: 10px;
}

.dNulgL {
	flex-shrink: 0;
	width: 11px;
	height: 8px;
	margin-right: 7px;
	color: rgb(142, 140, 240);
}

.llgucG {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: column;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;
}

.irBkGv {
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 28px;
}

.rSIDy {
	width: 100%;
}

@media (min-width: 1025px) {
	.rSIDy {
		display: flex;
		flex-wrap: wrap;
		max-width: 706px;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}
}

.hrbIoV {
	margin-bottom: 30px;
}

.bWvWga {
	border: 1px solid rgb(224, 224, 224);
	background: white;
	padding: 15px;
	border-radius: 20px;
	margin-bottom: 20px;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

@media (min-width: 1025px) {
	.bWvWga {
		max-width: 328px;
	}
}

.bUrydU {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-bottom: 10px;
}

.haJBxw {
	display: flex;
}

.evREeJ {
	margin-left: 10px;
}

.gPjgqd {
	font-size: 20px;
	line-height: 24px;
	color: rgb(106, 58, 162);
	font-weight: 600;
	margin-bottom: 5px;
}

.fSpgcg {
	font-size: 12px;
	line-height: 16px;
	color: rgb(130, 130, 130);
}

.bnSLON {
	display: flex;
}

.fOZuzc {
	flex-shrink: 0;
}

.bTlPXS {
	line-height: 140%;
	font-style: italic;
	margin-left: 10px;
}

.mtHnW {
	max-width: 330px;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: baseline;
	align-items: baseline;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.iOeNQG {
	position: relative;
	z-index: 1;
}

.eNAiIP {
	width: 50%;
}

.kIBoaf {
	margin-bottom: 30px;
}

.eUffmE {
	text-align: right;
}

.kJhTQn {
	width: 100%;
	text-align: center;
}

.fLFGgk {
	margin-left: -15px;
	width: calc(100% + 30px);
	position: sticky;
	top: 0px;
	z-index: 3;
	background: linear-gradient(90.6deg, rgb(193, 240, 255) 0.47%, rgb(204, 161, 255) 137.94%);
}

@media (min-width: 1025px) {
	.fLFGgk {
		border-width: 3px;
		width: calc(100% + 100px);
		margin-left: -50px;
	}
}

.fHsKwq {
	position: fixed;
	bottom: 0px;
	top: auto;
	height: 70px;
	background: rgba(255, 240, 240, 0.3);
	backdrop-filter: blur(4px);
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
}

@media (min-width: 1025px) {
	.fHsKwq {
		left: 0px;
		margin-left: 0px;
	}
}

.geSGov {
	display: flex;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 15px;
}

@media (min-width: 1025px) {
	.geSGov {
		font-size: 16px;
		margin-bottom: 30px;
	}
}

.kxhHgm {
	width: 280px;
	margin-bottom: 0px;
	border-radius: 16px;
	height: 49px;
}
