@use '../var' as *;

.SectionResults {
	&-dangerIcon {
		display: block;
		margin: auto;
		width: 142px;
	}
	&-images {
    margin-bottom: auto;
		margin-top: auto;
    padding: 30px 0;
	}
	&-risk {
		margin-bottom: 30px;
	}
	&-title {
		margin-bottom: 0;
	}
}
