@use '../var' as *;

.Section {
	display: none;
	flex-direction: column;
	min-height: 100%;
	padding: 40px 16px 60px;
	&-title {
		@include fontTitle1Medium;
		margin-bottom: 40px;
		text-align: center;
	}
	&--active {
		display: flex;
	}
	&--withOrangeShadow {
		background: url(/img/orange-shadow-2x.png) no-repeat top right / 375px;
	}
	@media (min-width: 532px) {
		padding: 0 calc((100% - 500px) / 2) 60px;
	}
}
