@use '../var' as *;

.Button {
	@include fontBaseSemibold;
	align-items: center;
	background: linear-gradient(264.94deg, #fb2724 4.56%, #f86d41 96.51%);
	border: none;
	border-radius: 40px;
	box-shadow: 5px 5px 15px rgba(3, 3, 19, 0.25);
	color: $colorWhite;
	display: flex;
	justify-content: center;
	height: 58px;
	width: 100%;
}
