@use '../var' as *;

.Button {
	@include fontBaseSemibold;
	align-items: center;
	background: $gradientOrangeRed;
	border: none;
	border-radius: 40px;
	box-shadow: 5px 5px 15px rgba(3, 3, 19, 0.25);
	color: $colorWhite;
	display: flex;
	justify-content: center;
	height: 58px;
	width: 100%;
	&-smallText {
		@include fontMicroRegular;
	}
}
