@use '../var' as *;

.Images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -16px;
	position: relative;
	width: calc(100% + 32px);
	&-danger {
		background: $colorDarkBlue;
		border-radius: 50%;
		height: 151px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 151px;
	}
	&-dangerIcon {
		margin: 1px 0 0 3px;
		width: 142px;
	}
	&-image {
		opacity: 0;
		transition: opacity 2s;
		width: 100%;
		&--visible {
			opacity: 1;
		}
	}
	&-imageBlock {
		position: relative;
		width: calc(50% - 2.5px);
		&:nth-child(1),
		&:nth-child(2) {
			margin-bottom: 5px;
		}
	}
	&-imageDescription {
		@include fontBaseRegular;
		background: $colorDarkBlue;
		border-radius: 10px;
		left: 50%;
		padding: 5px 15px;
		position: absolute;
		text-align: center;
		transform: translateX(-50%);
		&--bottom {
			bottom: 15px;
		}
		&--top {
			top: 15px;
		}
	}
}
