@use '../var' as *;

.ListWithCheckboxes {
	@include fontBaseRegular;
	list-style: none;
	&-item {
		background-image: url('/img/icons/checkbox.svg');
		background-position: top right;
		background-repeat: no-repeat;
		padding-right: 32px;
		& + & {
			margin-top: 20px;
		}
	}
}
