@use '../var' as *;

.List {
	@include fontBaseLight;
	list-style: none;
	&-item {
		&::before {
			background: $gradientListItem;
			border-radius: 4px;
			box-shadow: 5px 5px 15px rgba(18, 20, 41, 0.25);
			content: '';
			display: inline-block;
			height: 8px;
			margin-right: 10px;
			vertical-align: middle;
			width: 8px;
		}
		& + & {
			margin-top: 5px;
		}
	}
}
