@use '../var' as *;

.Navigation {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	&-back {
		background: url('/img/icons/arrow.svg') no-repeat;
		border: none;
		height: 24px;
		padding: 0;
		width: 24px;
	}
	&-logo {
		margin: auto;
		width: 29px;
	}
	&-pages {
		@include fontBaseRegular;
	}
	&-step {
		background: $colorDarkGrey;
		border-radius: 4px;
		flex: 1;
		height: 3px;
		&--active {
			background: $colorWhite;
		}
	}
	&-steps {
		display: flex;
		flex: 100%;
		gap: 6px;
		margin-top: 7px;
	}
}
