@use '../var' as *;

.Option {
	@include fontBaseSemibold;
	align-items: center;
	background: $gradientBlueRedLight;
	border-radius: 10px;
	box-shadow: 4px 4px 10px rgba(3, 3, 19, 0.2);
	color: $colorWhite;
	display: flex;
	padding: 18px 20px;
	position: relative;
	text-align: left;
	width: 100%;
	&-icon {
		height: auto;
		margin-right: 20px;
		width: 36px;
	}
	&::before {
		border-radius: 10px;
		content: '';
		height: calc(100% + 2px);
		left: -1px;
		position: absolute;
		top: -1px;
		width: calc(100% + 2px);
		z-index: -1;
	}
	&:hover, &:active, &:focus {
		outline: none;
		&::before {
			background: $gradientOrangeRed;
		}
	}
	& + & {
		margin-top: 14px;
	}
}
