@use '../var' as *;

.SectionResults {
	&-dangerIcon {
		display: block;
		margin: auto;
		width: 142px;
	}
	&-images {
		margin-bottom: 70px;
		margin-top: 66px;
	}
	&-risk {
		margin-bottom: 40px;
	}
	&-title {
		margin-bottom: 0;
	}
}
