@use '../var' as *;

.SectionQuiz {
	padding-top: 44px;
	&-navigation {
		margin-bottom: 73px;
	}
	&-WHO {
		@include fontBaseLight;
		display: flex;
		padding-top: 67px;
		img {
			margin-right: 20px;
			width: 54px;
		}
	}
}
