@use '../var' as *;

.Section {
	display: none;
	min-height: 100vh;
	padding: 0 16px 40px;
	&-title {
		@include fontTitle1Medium;
		margin-bottom: 40px;
		text-align: center;
	}
	&-wrapper {
		margin: auto;
		max-width: 500px;
	}
	&--active {
		display: block;
	}
	&--fullHeight {
		height: 100vh;
		min-height: 650px;
		.Section-wrapper {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}
	&--withOrangeShadow {
		background: url(/img/orange-shadow-2x.png) no-repeat top right / 375px;
	}
}
