@use '../var' as *;

.SectionHome {
	height: 100vh;
	min-height: 650px;
	text-align: center;
	&-advice {
		&--pageHardcore {
			@include fontSmallLight;
			margin-bottom: auto;
		}
		&--pageMain {
			@include fontMicroRegular;
			margin-bottom: 40px;
		}
	}
	&-button {
		&--pageMain {
			margin-bottom: 14px;
		}
	}
	&-description {
		@include fontMicroRegular;
		margin-bottom: auto;
	}
	&-flexContainer {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&-footer {
		@include fontMicroRegular;
	}
	&-footerAnd {
		color: $colorGrey;
		margin: 0 4px;
	}
	&-footerLink {
		color: $colorWhite;
		text-decoration: underline;
		&:hover {
			text-decoration: underline;
		}
	}
	&-logo {
		&--pageMain {
			margin-bottom: auto;
			width: 72px;
		}
		&--pageHardcore {
			margin-bottom: 50px;
			width: 100px;
		}
	}
	&-proposition {
		@include fontTitle1Medium;
		&--pageHardcore {
			margin-bottom: 20px;
		}
		&--pageMain {
			margin-bottom: auto;
			padding-bottom: 40px;
		}
	}
	&-title {
		@include fontBaseSemibold;
		&--pageHardcore {
			margin-bottom: auto;
		}
		&--pageMain {
			margin-bottom: 5px;
		}
	}
}
