@use '../var' as *;

.SectionHome {
	text-align: center;
	&-advice {
		&--quizHardcore {
			@include fontSmallLight;
			margin-bottom: auto;
		}
		&--quizMain {
			@include fontMicroRegular;
			margin-bottom: 40px;
		}
	}
	&-button {
		&--quizMain {
			margin-bottom: 14px;
		}
	}
	&-description {
		@include fontMicroRegular;
		margin-bottom: auto;
	}
	&-footer {
		@include fontMicroRegular;
	}
	&-footerAnd {
		color: $colorGrey;
		margin: 0 4px;
	}
	&-footerLink {
		color: $colorWhite;
		text-decoration: underline;
		&:hover {
			text-decoration: underline;
		}
	}
	&-logo {
		&--quizHardcore {
			margin: 0 auto 50px;
			width: 100px;
		}
		&--quizMain {
			margin: 0 auto auto;
			width: 72px;
		}
	}
	&-proposition {
		@include fontTitle1Medium;
		&--quizHardcore {
			margin-bottom: 20px;
		}
		&--quizMain {
			margin-bottom: auto;
			padding-bottom: 40px;
		}
	}
	&-title {
		@include fontBaseSemibold;
		&--quizHardcore {
			margin-bottom: auto;
		}
		&--quizMain {
			margin-bottom: 5px;
		}
	}
}
