@use '../var' as *;

.SectionDownload {
	text-align: center;
	&-appPreview {
		margin-bottom: 10px;
		width: 343px;
	}
	&-appstore {
		margin-bottom: 30px;
		width: 120px;
	}
	&-button {
		margin-bottom: 10px;
	}
	&-list {
		margin: 0 auto 40px;
		max-width: 370px;
		padding: 0 17px;
		text-align: left;
	}
	&-promise {
		@include fontSmallRegular;
		color: $colorOrange;
		margin-bottom: 30px;
	}
	&-summary {
		@include fontMicroRegular;
		color: $colorGrey;
	}
	&-title {
		margin-bottom: 10px;
	}
}
