@use '../var' as *;

.SectionHardcoreDownload {
	height: 100vh;
	text-align: center;
	&-flexContainer {
		align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
	}
	&-logo {
		background: url(/img/icons/logo-download.svg) 0 0 / contain no-repeat;
		margin: 0 auto auto;
		height: 170px;
		position: relative;
		width: 170px;
		&::before {
			background: url(/img/icons/logo-download-shadow.svg) 0 0 / contain no-repeat;
			bottom: 10px;
			content: '';
			height: 250px;
			left: 10px;
			position: absolute;
			width: 250px;
			z-index: -1;
		}
	}
	&-subtitle {
		@include fontBaseRegular;
		margin-bottom: 112px;
	}
	&-title {
		margin-bottom: 10px;
	}
}
