:focus {
	outline: 0;
}
body {
	color: #2d3258;
	font-family: 'Oxanium', cursive;
	font-size: 16px;
	min-width: 320px;
}
a {
	color: #6db9ff;
	transition: color 0.3s;
}
a:hover {
	color: #6cb6f7;
}
img {
	max-width: 100%;
}
li {
	list-style: none;
}
