::-webkit-input-placeholder {
	color: #6d6f88;
}

:-ms-input-placeholder {
	color: #6d6f88;
}

::placeholder {
	color: #6d6f88;
}

.ButtonGreen {
	animation: ButtonGreen 1.25s cubic-bezier(.66, 0, 0, 1) infinite;
	background: #02b57f;
	border-radius: 15px;
	box-shadow: 0 0 0 0 var(--secondaryButtonShadowColor);
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: .007em;
	line-height: 120%;
	padding: 17px;
	width: 100%;
}

@keyframes ButtonGreen {
	to {
		box-shadow: 0 0 0 20px #0000
	}
}

.ButtonOrange {
	background: linear-gradient(264.94deg, #FB2724 4.56%, #F86D41 96.51%);
	border-radius: 40px;
	box-shadow: 5px 5px 15px rgba(3, 3, 19, 0.25);
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	line-height: 140%;
	padding: 17px;
	width: 100%;
}

.ButtonOrange--disabled {
	background: #6d6f88;
	cursor: not-allowed;
}

.ChoosePlan {
	color: #fff;
}

.ChoosePlan-button {
	display: block;
	margin: 0 auto 45px;
	max-width: 353px;
}

.ChoosePlan-description {
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 25px;
	text-align: center;
}

.ChoosePlan-plan {
	background: #323747;
	border: 1px solid #50647c;
	border-radius: 15px;
	color: inherit;
	cursor: pointer;
	font-size: 20px;
	font-weight: 700;
	line-height: 120%;
	margin-right: 10px;
	padding: 15px;
}

.ChoosePlan-plan--active {
	background: #02b57f;
	border-color: #02b57f;
	cursor: initial;
}

.ChoosePlan-plan:last-of-type {
	flex-grow: 1;
	margin: 0;
	position: relative;
}

.ChoosePlan-planLabel {
	background: url(/img/page-checkout/lightning.svg) calc(100% - 8px) center no-repeat #ff4b4b;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(3, 3, 19, 0.1);
	font-size: 12px;
	font-weight: 500;
	line-height: 120%;
	padding: 2px 20px 2px 8px;
	position: absolute;
	right: 5px;
	top: -5px;
}

.ChoosePlan-plans {
	display: flex;
	margin: 0 auto 23px;
	max-width: 353px;
}

.ChoosePlan-plansNote {
	border: 1px solid #ff4b4b;
	border-radius: 10px;
	font-size: 14px;
	line-height: 120%;
	margin: 0 auto 40px;
	max-width: 353px;
	padding: 15px 25px;
	position: relative;
	text-align: center;
}

.ChoosePlan-plansNote::before {
	background: rgb(20, 20, 24);
	border: 1px solid #ff4b4b;
	border-bottom: 0;
	border-right: 0;
	content: '';
	height: 12px;
	position: absolute;
	right: 70px;
	top: -7px;
	transform: rotate(45deg);
	width: 12px
}

.ChoosePlan-safeCheckout {
	margin: 0 auto;
	max-width: 500px;
}

.ChoosePlan-safeCheckoutImage {
	width: 100%;
}

.ChoosePlan-safeCheckoutInner {
	border: 1px solid var(--neutral300Color);
	border-radius: 10px;
	padding: 27px 18px 19px;
	position: relative;
}

.ChoosePlan-safeCheckoutTitle {
	background-color: var(--background1Color);
	font-size: 18px;
	left: 50%;
	padding: 0 13px;
	position: absolute;
	top: -10px;
	transform: translateX(-50%);
	white-space: nowrap;
}

.ChoosePlan-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 16px;
	text-align: center;
}

@media (min-width: 768px) {
	.ChoosePlan {
		border: 1px solid #6b7c94;
		border-radius: 20px;
		padding: 60px 86px;
	}

	.ChoosePlan-button {
		margin-bottom: 65px;
	}

	.ChoosePlan-description {
		font-size: 18px;
		margin-bottom: 45px;
	}

	.ChoosePlan-plan {
		font-size: 24px;
		padding: 19px;
	}

	.ChoosePlan-plansNote::before {
		right: 55px;
	}

	.ChoosePlan-safeCheckoutTitle {
		font-size: 27px;
		top: -15px;
	}

	.ChoosePlan-title {
		font-size: 32px;
		margin-bottom: 20px;
	}
}

.ErrorPopup {
	align-items: center;
	display: flex;
	font-family: 'Rubik', sans-serif;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 210;
}

.ErrorPopup-button {
	margin-top: auto;
	max-width: 100%;
	width: 343px;
}

.ErrorPopup--hidden {
	display: none;
}

.ErrorPopup-close {
	bottom: calc(100% + 20px);
	cursor: pointer;
	position: absolute;
	right: 0;
}

/*
570 (popup height)
+ 24 (close icon height)
+ 20 (distance between popup and close icon)
+ 10 (distance between window top and close icon)
+ 24 + 20 + 10 (the same for the popup's bottom)
= 678
*/
@media(max-height: 678px) {
	.ErrorPopup-close {
		bottom: initial;
		right: 20px;
		top: 20px;
	}
}

.ErrorPopup-description {
	font-size: 16px;
	line-height: 150%;
	margin-bottom: 10px;
	text-align: center;
}

.ErrorPopup-image {
	margin-bottom: 10px;
	max-width: 100%;
	width: 320px;
}

@media(max-height: 590px) {
	.ErrorPopup-image {
		width: calc(80vh * 320/590);
	}
}

.ErrorPopup-shadow {
	background: #121429;
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
}

.ErrorPopup-title {
	font-size: 30px;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 10px;
}

.ErrorPopup-window {
	align-items: center;
	background: #393c59;
	border-radius: 40px;
	box-shadow: 5px 5px 25px rgba(3, 3, 19, 0.5);
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 570px;
	padding: 20px;
	position: relative;
	width: calc(100% - 20px);
}

.ErrorPopup-window::-webkit-scrollbar,
.ErrorPopup-window::-webkit-scrollbar-corner,
.ErrorPopup-window::-webkit-scrollbar-thumb,
.ErrorPopup-window::-webkit-scrollbar-track,
.ErrorPopup-window:hover::-webkit-scrollbar-thumb {
	display: none;
	scrollbar-width: none;
}

@media(max-height: 590px) {
	.ErrorPopup-window {
		height: calc(100% - 20px);
		overflow: scroll;
	}
}

@media(min-width: 820px) {
	.ErrorPopup-window {
		width: 800px;
	}
}

@media (min-width: 1024px) {
	.ErrorPopup-window {
		padding: 50px 40px;
	}
}

.Form-button {
	margin-top: 30px;
}

.Form-field {
	width: 100%;
}

.Form-fieldLabel {
	color: #6d6f88;
	font-size: 12px;
	height: 15px;
	line-height: 120%;
	margin-bottom: 5px;
	padding-left: 16px;
}

.Form-field--halfWidth {
	width: calc(50% - 5px);
}

.Form-input {
	background: #21243f;
	border: 0.5px solid transparent;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	padding: 17px 50px 17px 16px;
	width: 100%;
}

.Form-input:focus {
	background: #121429;
	border-color: #6d6f88;
	outline: none;
}

.Form-input:valid {
	background-image: url(/img/checkbox.svg);
	background-position: calc(100% - 16px) 17px;
	background-repeat: no-repeat;
}

.Form-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.Form-row:last-of-type {
	margin: 0;
}

.Popup {
	align-items: center;
	display: flex;
	font-family: 'Rubik', sans-serif;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 210;
}

.Popup--hidden {
	display: none;
}

.Popup-close {
	bottom: calc(100% + 20px);
	cursor: pointer;
	position: absolute;
	right: 0;
}

/*
440 (popup height)
+ 24 (close icon height)
+ 20 (distance between popup and close icon)
+ 10 (distance between window top and close icon)
+ 24 + 20 + 10 (the same for the popup's bottom)
= 548
*/
@media(max-height: 548px) {
	.Popup-close {
		bottom: initial;
		right: 20px;
		top: 20px;
	}
}

.Popup-column {
	flex: 1;
}

.Popup-column:first-child {
	border-right: 0.5px solid #6d6f88;
	padding-right: 30px;
}

.Popup-column:last-child {
	padding-left: 30px;
}

.Popup-columns {
	display: flex;
}

.Popup-shadow {
	background: #121429;
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
}

.Popup-title {
	font-size: 30px;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 50px;
	text-align: center;
}

.Popup-window {
	background: #393c59;
	border-radius: 40px;
	box-shadow: 5px 5px 25px rgba(3, 3, 19, 0.5);
	color: #fff;
	height: 440px;
	padding: 20px;
	position: relative;
	width: calc(100% - 20px);
}

.Popup-window::-webkit-scrollbar,
.Popup-window::-webkit-scrollbar-corner,
.Popup-window::-webkit-scrollbar-thumb,
.Popup-window::-webkit-scrollbar-track,
.Popup-window:hover::-webkit-scrollbar-thumb {
	display: none;
	scrollbar-width: none;
}

@media(max-height: 460px) {
	.Popup-window {
		height: calc(100% - 20px) !important;
		overflow: scroll;
	}
}

@media(max-width: 750px) {
	.Popup-columns {
		flex-direction: column;
	}

	.Popup-column:first-child {
		border: none;
		padding: 0;
	}

	.Popup-column:last-child {
		padding: 0;
	}

	.Popup-title {
		margin-bottom: 20px;
	}

	.Popup-window {
		height: auto;
		overflow: scroll;
	}
}

@media(min-width: 820px) {
	.Popup-window {
		width: 800px;
	}
}

@media (min-width: 1024px) {
	.Popup-window {
		padding: 50px 40px;
	}
}

.PopupOrder-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.PopupOrder-item:last-child {
	margin: 0;
}

.PopupOrder-itemPrice {
	margin-left: 20px;
}

.PopupOrder-items {
	border-bottom: 0.5px solid #6d6f88;
	color: #6d6f88;
	font-size: 14px;
	line-height: 120%;
	margin-bottom: 53px;
	padding-bottom: 53px;
}

.PopupOrder-title {
	font-size: 24px;
	font-weight: 500;
	line-height: 118%;
	margin-bottom: 40px;
}

.PopupOrder-total {
	display: flex;
	font-size: 18px;
	font-weight: 500;
	justify-content: space-between;
	line-height: 140%;
}

.PopupOrder-totalPrice {
	margin-left: 20px;
}

@media(max-width: 750px) {
	.PopupOrder-items {
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.PopupOrder-title {
		margin-bottom: 20px;
	}
}
