.default-desktop_container__tiW2T {
	top: 0;
	width: 100%;
	z-index: 111
}

.default-desktop_container__tiW2T.default-desktop_isFixed___PUHM {
	position: fixed
}

.default-mobile-header_container__P4hwC {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 111
}

.default-mobile-header_container__P4hwC.default-mobile-header_isFixed__BawbU {
	position: fixed
}

.desktop-header-no-navigation_container__PP8J7,
.desktop-header-with-button-and-timer_container__cxksO,
.desktop-header-with-button_container__3xmQS,
.desktop-with-timer_container__SOLeZ,
.mobile-header-no-navigation_container__QD7p_,
.mobile-header-with-back-arrow_container__CWW16,
.mobile-header-with-button-and-timer_container__jAXXz,
.mobile-header-with-button_container__nTtwx,
.mobile-header-with-progress_container__1XfRa {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 111
}

.mobile-header-with-skip-button_container__BdTbZ {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 111
}

.personalized-purchase-top-banner_bannerColored__gfF_8,
.personalized-purchase-top-banner_banner__5_7gO {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	background: var(--primary400Color);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover
}

@media only screen and (min-width:1024px) {

	.personalized-purchase-top-banner_bannerColored__gfF_8,
	.personalized-purchase-top-banner_banner__5_7gO {
		min-height: 404px;
		padding: 80px 0 40px
	}
}

.personalized-purchase-top-banner_bannerColored__gfF_8:lang(ar),
.personalized-purchase-top-banner_banner__5_7gO:lang(ar) {
	padding-right: 20px;
	padding-left: 0
}

.personalized-purchase-top-banner_bannerColored__gfF_8 {
	background: var(--primary400Color)
}

@media only screen and (min-width:1024px) {
	.personalized-purchase-top-banner_bannerImageContainer__nNCmf {
		display: flex;
		overflow: hidden;
		width: 100%;
		max-width: 504px;
		height: 504px;
		align-items: center;
		justify-content: center;
		margin-left: 24px;
		background: var(--shadow60Primary500BrandColor);
		border-radius: 110px
	}
}

.personalized-purchase-top-banner_bannerImage__qyPNg {
	display: inline-block;
	width: 100%;
	min-width: 100px;
	max-width: 179px;
	height: 179px;
	-o-object-fit: contain;
	object-fit: contain
}

@media only screen and (min-width:1024px) {
	.personalized-purchase-top-banner_bannerImage__qyPNg {
		max-width: 504px;
		height: 504px
	}
}

.personalized-purchase-top-banner_container__fYUf_ {
	margin-bottom: 0
}

.personalized-purchase-top-banner_bannerContent__ELitw {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1032px;
	align-items: center;
	justify-content: center;
	margin: 0 auto
}

.personalized-purchase-top-banner_bannerTextContainer__g3IN4 {
	position: relative;
	display: block;
	max-width: 192px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	opacity: 0;
	text-shadow: 0 1px 2px rgba(42, 56, 107, .2);
	transform: translateY(20px);
	transition: all 1s ease-in-out
}

@media only screen and (min-width:768px) {
	.personalized-purchase-top-banner_bannerTextContainer__g3IN4 {
		max-width: 210px
	}
}

@media only screen and (min-width:1024px) {
	.personalized-purchase-top-banner_bannerTextContainer__g3IN4 {
		max-width: 478px;
		font-size: 56px;
		line-height: 1.14
	}
}

.personalized-purchase-top-banner_bannerTextContainer__g3IN4:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 6px;
	background: var(--secondary2Color);
	border-radius: 8px;
	content: ""
}

.personalized-purchase-top-banner_bannerTextContainer__g3IN4:lang(ar):before {
	right: 0;
	left: unset
}

.personalized-purchase-top-banner_bannerTextContainer__g3IN4.personalized-purchase-top-banner_isShown__ZDEb3 {
	opacity: 1;
	transform: translateY(0)
}

.personalized-purchase-top-banner_bannerText__1ODrC {
	width: 100%;
	max-width: 175px;
	transform: translateX(14px)
}

.personalized-purchase-top-banner_bannerText__1ODrC:lang(ar) {
	transform: translateX(-14px)
}

@media only screen and (min-width:1024px) {
	.personalized-purchase-top-banner_bannerText__1ODrC {
		max-width: unset;
		transform: translateX(22px)
	}

	.personalized-purchase-top-banner_bannerText__1ODrC:lang(ar) {
		transform: translateX(-22px)
	}
}

.purchase-personalized-bmi-note_container__pZK0v {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 12px;
	border-radius: 8px
}

.purchase-personalized-bmi-note_container__pZK0v.purchase-personalized-bmi-note_normal__daTov {
	background: rgba(102, 208, 164, .2)
}

.purchase-personalized-bmi-note_container__pZK0v.purchase-personalized-bmi-note_overweight__MN7_S {
	background: hsla(36, 94%, 73%, .2)
}

.purchase-personalized-bmi-note_container__pZK0v.purchase-personalized-bmi-note_obese__oP2pp {
	background: hsla(7, 96%, 71%, .2)
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi-note_container__pZK0v {
		padding: 20px
	}
}

.purchase-personalized-bmi-note_warningIcon__31cl1 {
	padding: 7px;
	margin-right: 8px;
	border-radius: 6px
}

.purchase-personalized-bmi-note_warningIcon__31cl1:lang(ar) {
	margin-right: 0;
	margin-left: 8px
}

.purchase-personalized-bmi-note_normal__daTov .purchase-personalized-bmi-note_warningIcon__31cl1 {
	background: rgba(102, 208, 164, .4)
}

.purchase-personalized-bmi-note_overweight__MN7_S .purchase-personalized-bmi-note_warningIcon__31cl1 {
	background: hsla(36, 94%, 73%, .4)
}

.purchase-personalized-bmi-note_obese__oP2pp .purchase-personalized-bmi-note_warningIcon__31cl1 {
	background: hsla(7, 96%, 71%, .4)
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi-note_warningIcon__31cl1 {
		width: 100%;
		max-width: 48px
	}

	.purchase-personalized-bmi-note_warningIcon__31cl1 svg {
		width: 100%;
		height: auto
	}
}

.purchase-personalized-bmi-note_title__qNvMf {
	margin-bottom: 4px;
	color: var(--neutral900Color);
	font-size: 10px;
	font-weight: 700;
	line-height: 1.4;
	text-align: left
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi-note_title__qNvMf {
		font-size: 16px;
		line-height: 1.32
	}
}

.purchase-personalized-bmi-note_text__5wadr {
	color: var(--neutral900Color);
	font-size: 10px;
	font-weight: 500;
	line-height: 1.4
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi-note_text__5wadr {
		font-size: 16px;
		line-height: 1.32
	}
}

.purchase-personalized-bmi-scale_container__wyIOp {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 16px
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi-scale_container__wyIOp {
		margin-bottom: 24px
	}
}

.purchase-personalized-bmi-scale_slider__nKToU {
	position: absolute;
	z-index: 1;
	top: -8px;
	display: inline-block;
	opacity: 0
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi-scale_slider__nKToU {
		top: -5px
	}
}

.purchase-personalized-bmi-scale_isShown__WMASr .purchase-personalized-bmi-scale_slider__nKToU {
	opacity: 1;
	transition: opacity 1s ease-in-out 1s, left 1s ease-in-out 1.5s
}

.purchase-personalized-bmi-scale_sliderLabel__YXenK {
	position: absolute;
	top: -37px;
	left: 50%;
	min-width: 89px;
	padding: 4px 0;
	background: var(--neutral700Color);
	border-radius: 4px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	color: var(--whiteColor);
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .5px;
	line-height: 1.33;
	opacity: 0;
	text-align: center;
	transform: translate(-50%, 5px)
}

.purchase-personalized-bmi-scale_isShown__WMASr .purchase-personalized-bmi-scale_sliderLabel__YXenK {
	opacity: 1;
	transform: translate(-50%);
	transition: all .7s ease-in-out 2.5s
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi-scale_sliderLabel__YXenK {
		top: -50px;
		min-width: 131px;
		padding: 6px 0;
		font-size: 18px;
		line-height: 1.33
	}
}

.purchase-personalized-bmi-scale_sliderLabel__YXenK.purchase-personalized-bmi-scale_extremePosition__gk0Yi {
	left: -11px
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi-scale_sliderLabel__YXenK.purchase-personalized-bmi-scale_extremePosition__gk0Yi {
		left: -19px
	}
}

.purchase-personalized-bmi-scale_sliderLabelArrowImage___IphB {
	position: absolute;
	z-index: 1;
	top: -15px;
	width: 16px;
	height: 8px;
	content: "";
	opacity: 0;
	transform: translateY(5px)
}

.purchase-personalized-bmi-scale_isShown__WMASr .purchase-personalized-bmi-scale_sliderLabelArrowImage___IphB {
	opacity: 1;
	transform: translateY(0);
	transition: all .7s ease-in-out 2.5s
}

.purchase-personalized-bmi-scale_sliderDot__fKUg0 {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 3px solid var(--shadow20Neutral700Color);
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 3px 7px rgba(68, 70, 64, .3);
	opacity: 0
}

.purchase-personalized-bmi-scale_isShown__WMASr .purchase-personalized-bmi-scale_sliderDot__fKUg0 {
	opacity: 1;
	transition: opacity 1s ease-in-out 1s
}

.purchase-personalized-bmi-scale_scale__XpCBK {
	height: 8px;
	flex: 0 0 100%;
	background: linear-gradient(90deg, #96d9ff, #b7f5a8 31.77%, #f9eb7c 66.15%, #fc806e);
	border-radius: 27px;
	opacity: 0
}

.purchase-personalized-bmi-scale_isShown__WMASr .purchase-personalized-bmi-scale_scale__XpCBK {
	opacity: 1;
	transition: opacity 1s ease-in-out
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi-scale_scale__XpCBK {
		height: 12px
	}
}

.purchase-personalized-bmi-scale_scale__XpCBK:lang(ar) {
	rotate: 180deg
}

.purchase-personalized-bmi-scale_maximumScaleValue__Z6l8w,
.purchase-personalized-bmi-scale_minimumScaleValue__AKJa1 {
	top: 100%;
	margin-top: 13px;
	color: var(--labelColor);
	font-size: 10px;
	font-weight: 600;
	line-height: 1.6;
	opacity: 0
}

.purchase-personalized-bmi-scale_maximumScaleValue__Z6l8w.purchase-personalized-bmi-scale_isSelected__ux_g1,
.purchase-personalized-bmi-scale_minimumScaleValue__AKJa1.purchase-personalized-bmi-scale_isSelected__ux_g1 {
	color: var(--neutral900Color)
}

@media only screen and (min-width:1024px) {

	.purchase-personalized-bmi-scale_maximumScaleValue__Z6l8w,
	.purchase-personalized-bmi-scale_minimumScaleValue__AKJa1 {
		font-size: 15px;
		line-height: 1.6
	}
}

.purchase-personalized-bmi-scale_isShown__WMASr .purchase-personalized-bmi-scale_maximumScaleValue__Z6l8w,
.purchase-personalized-bmi-scale_isShown__WMASr .purchase-personalized-bmi-scale_minimumScaleValue__AKJa1 {
	opacity: 1;
	transition: opacity 1s ease-in-out 1s
}

.purchase-personalized-bmi_uButton__KwgUl {
	padding: var(--buttonPadding) 24px;
	border: 0;
	background: #ccc;
	border-radius: var(--buttonRadius);
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 1.5;
	outline: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s
}

.purchase-personalized-bmi_uGreenButton__Or8pu {
	background: var(--primary400Color);
	box-shadow: 0 12px 23px var(--primaryButtonShadowColor)
}

.purchase-personalized-bmi_uGreenButton__Or8pu:disabled {
	background-color: var(--neutral200Color);
	box-shadow: none;
	color: var(--neutral500Color);
	cursor: not-allowed
}

.purchase-personalized-bmi_uGreenWideButton__kz8y5,
.purchase-personalized-bmi_uWideButton__GdyTp {
	display: block;
	width: 100%;
	max-width: 295px;
	margin: 0 auto
}

.purchase-personalized-bmi_uWideButton__GdyTp {
	background: var(--primary400Color);
	box-shadow: 0 12px 23px var(--primaryButtonShadowColor)
}

.purchase-personalized-bmi_uWideButton__GdyTp:disabled {
	background-color: var(--neutral200Color);
	box-shadow: none;
	color: var(--neutral500Color);
	cursor: default
}

.purchase-personalized-bmi_uInput__2qeJ5 {
	width: calc(100% - 6px);
	padding: 12px 16px;
	border: 1px solid var(--neutral700Color);
	margin-left: 3px;
	-webkit-appearance: none;
	background: var(--background3Color);
	border-radius: 12px;
	color: var(--neutral900Color);
	font-size: 16px;
	line-height: 1.4;
	outline: none
}

.purchase-personalized-bmi_uInput__2qeJ5:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px var(--background3Color) inset;
	-webkit-text-fill-color: var(--neutral900Color)
}

.purchase-personalized-bmi_uInput__2qeJ5:hover {
	border: 1px solid var(--neutral900Color)
}

.purchase-personalized-bmi_uInput__2qeJ5:-webkit-autofill:active,
.purchase-personalized-bmi_uInput__2qeJ5:-webkit-autofill:focus,
.purchase-personalized-bmi_uInput__2qeJ5:active,
.purchase-personalized-bmi_uInput__2qeJ5:focus {
	padding: 11px 15px;
	border: 2px solid var(--neutral900Color)
}

.purchase-personalized-bmi_uInput__2qeJ5:-webkit-autofill:hover {
	border: 1px solid var(--neutral900Color)
}

.purchase-personalized-bmi_uInput__2qeJ5.purchase-personalized-bmi_isInvalid__JPt1s {
	padding: 12px 16px;
	border: 1px solid var(--accentRedColor)
}

.purchase-personalized-bmi_uContentCard__NF_XL {
	padding: 18px;
	margin: 16px 14px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 10px 20px hsla(0, 0%, 87%, .6)
}

.purchase-personalized-bmi_uInputError__YT2Fp {
	position: absolute;
	bottom: -20px;
	left: 50%;
	color: var(--accentRedColor);
	text-align: center;
	transform: translate(-50%);
	white-space: nowrap
}

.purchase-personalized-bmi_desktopOnly__5QOxF {
	display: none
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_desktopOnly__5QOxF {
		display: block
	}

	.purchase-personalized-bmi_mobileOnly__fbmMJ {
		display: none
	}
}

.purchase-personalized-bmi_legal__0vh1w {
	color: var(--neutral700Color);
	font-size: 12px;
	line-height: 1.45;
	text-align: center
}

.purchase-personalized-bmi_container__oPwL0 {
	background: var(--background3Color);
	border-radius: 12px;
	opacity: 0;
	transform: translateY(20px);
	transition: all 1s ease-in-out
}

.purchase-personalized-bmi_container__oPwL0.purchase-personalized-bmi_isShown__VwKm0 {
	opacity: 1;
	transform: translateY(0)
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_container__oPwL0 {
		padding: 0;
		border: none;
		margin-bottom: 104px;
		background: none
	}
}

.purchase-personalized-bmi_subContainer__R4WeM {
	overflow: hidden;
	padding: 24px 16px 81px;
	border-radius: 12px;
	box-shadow: 0 2px 6px rgba(22, 42, 65, .06), 0 12px 24px rgba(7, 21, 37, .08)
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_subContainer__R4WeM {
		display: flex;
		align-items: flex-start;
		padding-bottom: 0;
		box-shadow: none;
		gap: 24px
	}

	.purchase-personalized-bmi_leftContainer___kPbF,
	.purchase-personalized-bmi_rightContainer__5Exfk {
		width: 100%;
		max-width: 504px;
		padding: 34px 32px;
		background: var(--background3Color);
		box-shadow: 0 2px 6px rgba(22, 42, 65, .06), 0 12px 24px rgba(7, 21, 37, .08)
	}

	.purchase-personalized-bmi_leftContainer___kPbF {
		max-height: 394px;
		border-radius: 12px
	}

	.purchase-personalized-bmi_rightContainer__5Exfk {
		overflow: hidden;
		max-height: 431px;
		padding: 48px 48px 64px;
		border-radius: 12px 12px 0 0
	}
}

.purchase-personalized-bmi_headerRow__U5EGE {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 62px
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_headerRow__U5EGE {
		margin-bottom: 79px
	}
}

.purchase-personalized-bmi_header__Ko3pn {
	color: var(--neutral900Color);
	font-size: 14px;
	font-weight: 700;
	line-height: 1.43
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_header__Ko3pn {
		font-size: 24px;
		line-height: 1.33
	}
}

.purchase-personalized-bmi_label__f0dG8 {
	padding: 4px 8px;
	border: 1px solid var(--neutral400Color);
	border-radius: 6px;
	color: var(--neutral400Color);
	font-size: 10px;
	font-weight: 600;
	letter-spacing: .1px;
	line-height: 1.6;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_label__f0dG8 {
		font-size: 16px;
		line-height: 1.5
	}
}

.purchase-personalized-bmi_image__qsZpm {
	position: absolute;
	z-index: 1;
	right: 11px;
	bottom: 48px;
	width: 100%;
	max-width: 167px;
	opacity: 0;
	transform: translateX(20px);
	transition: all 1s ease-in-out 2s
}

.purchase-personalized-bmi_image__qsZpm:lang(ar) {
	right: unset;
	left: 11px
}

.purchase-personalized-bmi_isListShown__jKOWb .purchase-personalized-bmi_image__qsZpm {
	opacity: 1;
	transform: translateX(0)
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_image__qsZpm {
		right: 24px;
		bottom: 14px;
		max-width: 233px
	}

	.purchase-personalized-bmi_image__qsZpm:lang(ar) {
		right: unset;
		left: 24px
	}
}

.purchase-personalized-bmi_scaleContainer__GbRAB {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 16px
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_scaleContainer__GbRAB {
		margin-bottom: 24px
	}
}

.purchase-personalized-bmi_slider__BeSXQ {
	position: absolute;
	z-index: 1;
	top: -8px;
	display: inline-block
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_slider__BeSXQ {
		top: -5px
	}
}

.purchase-personalized-bmi_sliderLabel__W7YMM {
	position: absolute;
	top: -37px;
	left: 50%;
	min-width: 89px;
	padding: 4px 0;
	background: var(--neutral700Color);
	border-radius: 4px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	color: var(--whiteColor);
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .5px;
	line-height: 1.33;
	opacity: 0;
	text-align: center;
	transform: translate(-50%, 5px)
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_sliderLabel__W7YMM {
		top: -50px;
		min-width: 131px;
		padding: 6px 0;
		font-size: 18px;
		line-height: 1.33
	}
}

.purchase-personalized-bmi_sliderLabel__W7YMM.purchase-personalized-bmi_extremePosition__vqdCE {
	left: -11px
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_sliderLabel__W7YMM.purchase-personalized-bmi_extremePosition__vqdCE {
		left: -19px
	}
}

.purchase-personalized-bmi_sliderLabelArrowImage___D5oE {
	position: absolute;
	z-index: 1;
	top: -15px;
	width: 16px;
	height: 8px;
	content: "";
	opacity: 0;
	transform: translateY(5px)
}

.purchase-personalized-bmi_sliderDot__wwwBd {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 3px solid var(--shadow20Neutral700Color);
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 3px 7px rgba(68, 70, 64, .3)
}

.purchase-personalized-bmi_scale__CNr1y {
	height: 8px;
	flex: 0 0 100%;
	background: linear-gradient(90deg, #96d9ff, #b7f5a8 31.77%, #f9eb7c 66.15%, #fc806e);
	border-radius: 27px
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_scale__CNr1y {
		height: 12px
	}
}

.purchase-personalized-bmi_maximumScaleValue__ZY62_,
.purchase-personalized-bmi_minimumScaleValue__NArSW {
	top: 100%;
	margin-top: 13px;
	color: var(--neutral400Color);
	font-size: 10px;
	font-weight: 600;
	line-height: 1.6
}

.purchase-personalized-bmi_maximumScaleValue__ZY62_.purchase-personalized-bmi_isSelected__kNQV5,
.purchase-personalized-bmi_minimumScaleValue__NArSW.purchase-personalized-bmi_isSelected__kNQV5 {
	color: var(--neutral900Color)
}

@media only screen and (min-width:1024px) {

	.purchase-personalized-bmi_maximumScaleValue__ZY62_,
	.purchase-personalized-bmi_minimumScaleValue__NArSW {
		font-size: 15px;
		line-height: 1.6
	}
}

.purchase-personalized-bmi_bmiNote__dQd6e {
	margin-bottom: 24px;
	opacity: 0;
	transform: translateY(20px);
	transition: all 1s ease-in-out 2s
}

.purchase-personalized-bmi_bmiNote__dQd6e.purchase-personalized-bmi_isShown__VwKm0 {
	opacity: 1;
	transform: translateY(0)
}

.purchase-personalized-bmi_divider__oCXNU {
	width: 100%;
	height: 1px;
	background-color: var(--neutral200Color);
	content: ""
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_divider__oCXNU {
		display: none
	}
}

.purchase-personalized-bmi_listContainer__07M3a {
	position: relative;
	margin: 24px 0 16px
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_listContainer__07M3a {
		margin: 0
	}
}

.purchase-personalized-bmi_noteContainer__39BFk {
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 48px;
	align-items: center;
	justify-content: flex-start;
	padding: 0 16px;
	border-top: 2px solid var(--neutral200Color);
	background-color: var(--background3Color);
	border-radius: 0 0 12px 12px
}

.purchase-personalized-bmi_noteContainer__39BFk:lang(ar) {
	right: unset;
	left: 0
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_noteContainer__39BFk {
		right: 17px;
		bottom: -58px;
		max-width: 504px;
		height: 72px;
		padding: 0 16px
	}

	.purchase-personalized-bmi_noteContainer__39BFk:lang(ar) {
		right: unset;
		left: 17px
	}
}

.purchase-personalized-bmi_noteContainer__39BFk:before {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: var(--shadow4Neutral900Color);
	border-radius: 0 0 12px 12px;
	box-shadow: 0 2px 6px rgba(22, 42, 65, .06), 0 12px 24px rgba(7, 21, 37, .08);
	content: ""
}

.purchase-personalized-bmi_noteText__NCyfC {
	position: relative;
	padding-left: 10px;
	color: var(--neutral700Color);
	font-size: 12px;
	font-weight: 400;
	line-height: 1.33
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_noteText__NCyfC {
		padding-left: 14px;
		font-size: 18px;
		line-height: 1.34
	}
}

.purchase-personalized-bmi_noteText__NCyfC b {
	font-weight: 600
}

.purchase-personalized-bmi_noteText__NCyfC:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 4px;
	height: 16px;
	background-color: var(--primary400Color);
	border-radius: 4px;
	content: ""
}

.purchase-personalized-bmi_noteText__NCyfC:before:lang(ar) {
	right: 0;
	left: unset
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_noteText__NCyfC:before {
		width: 6px;
		height: 100%
	}
}

.purchase-personalized-bmi_noteText__NCyfC:lang(ar) {
	padding-right: 10px;
	padding-left: 0
}

.purchase-personalized-bmi_noteText__NCyfC:lang(ar):before {
	right: 0;
	left: unset
}

.purchase-personalized-bmi_animationArrowsContainer___KQAk {
	position: absolute;
	top: 0;
	right: -14px
}

.purchase-personalized-bmi_animationArrowsContainer___KQAk:lang(ar) {
	right: unset;
	left: 0
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-bmi_animationArrowsContainer___KQAk {
		top: -25px;
		right: -44px
	}

	.purchase-personalized-bmi_animationArrowsContainer___KQAk:lang(ar) {
		right: unset;
		left: -4px
	}
}

.long-lasting-results-loader_circlesContainer__G9MUF {
	position: relative
}

.long-lasting-results-loader_circle__6dMrI {
	width: 100%;
	stroke: var(--neutral100Color)
}

.long-lasting-results-loader_circle__6dMrI:after {
	display: block;
	padding-bottom: 100%;
	content: ""
}

.long-lasting-results-loader_coloredCircle___4TLn {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -1px
}

.long-lasting-results-loader_coloredCircle___4TLn circle {
	box-sizing: border-box;
	stroke: var(--primary400Color);
	stroke-dasharray: 647;
	transform: rotate(-90deg);
	transform-origin: center center;
	transition: all 30ms ease-in
}

.long-lasting-results-loader_progress__kZEbN {
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--neutral900Color);
	font-size: 70px;
	font-weight: 800;
	line-height: 1.21;
	transform: translate(-50%, -65%)
}

.long-lasting-results_card___xhNP {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 18px 18px;
	margin: 0 auto;
	background-color: var(--background3Color);
	border-radius: 12px;
	box-shadow: 0 2px 6px rgba(22, 42, 65, .06), 0 12px 24px rgba(7, 21, 37, .08)
}

.long-lasting-results_title___o8CP {
	margin-bottom: 24px;
	color: var(--neutral900Color);
	font-size: 32px;
	font-weight: 700;
	letter-spacing: -.01em;
	line-height: 1.25;
	text-align: center
}

.long-lasting-results_loader__Zinhg {
	max-width: 75px
}

.long-lasting-results_percent__2U6MF {
	color: var(--primary300Color);
	font-size: 88px;
	font-weight: 700;
	line-height: 1.22
}

.long-lasting-results_percentUnit__DqkOZ {
	color: var(--primary300Color);
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2
}

.long-lasting-results_text__z5Y7g {
	max-width: 300px;
	color: var(--neutral900Color);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center
}

.long-lasting-results_infoButton__APRk8 {
	position: absolute;
	top: 18px;
	right: 18px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0 3px 0 0;
	background: transparent;
	cursor: pointer;
	vertical-align: middle
}

.long-lasting-results_infoIcon____8ay {
	display: block;
	width: 20px;
	height: 20px
}

.long-lasting-results_disclaimer__hYmNo {
	color: var(--neutral900Color);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center
}

.purchase-personalized-success-percent_container__mlb_5 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 48px 18px 24px;
	margin: 0 auto;
	background-color: var(--background3Color);
	border-radius: 12px;
	box-shadow: 0 2px 6px rgba(22, 42, 65, .06), 0 12px 24px rgba(7, 21, 37, .08);
	opacity: 0;
	transform: translateY(20px);
	transition: all 1s ease-in-out
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-success-percent_container__mlb_5 {
		padding: 64px 0 40px
	}
}

.purchase-personalized-success-percent_container__mlb_5.purchase-personalized-success-percent_isShown__0XgoY {
	opacity: 1;
	transform: translateY(0)
}

.purchase-personalized-success-percent_infoButton__r8W0F {
	position: absolute;
	top: 18px;
	right: 18px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: transparent;
	cursor: pointer;
	vertical-align: middle
}

.purchase-personalized-success-percent_infoIcon__90OBp {
	display: block;
	width: 20px;
	height: 20px
}

.purchase-personalized-success-percent_percent__Bg5W4 {
	color: var(--primary400Color);
	font-size: 88px;
	font-weight: 700;
	line-height: .9
}

.purchase-personalized-success-percent_percentUnit__LiNDU {
	color: var(--primary400Color);
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2
}

.purchase-personalized-success-percent_text__aIIF_ {
	max-width: 300px;
	margin-top: 16px;
	color: var(--neutral900Color);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.21;
	text-align: center
}

.purchase-personalized-success-percent_text__aIIF_ span {
	margin-top: 0;
	color: var(--primary400Color);
	font-weight: 700
}

@media only screen and (min-width:1024px) {
	.purchase-personalized-success-percent_text__aIIF_ {
		max-width: 379px;
		font-size: 20px;
		line-height: 1.4
	}
}

.purchase-personalized-success-percent_disclaimer__KghyN {
	color: var(--neutral900Color);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center
}

.purchase-personalized_subContainer__EB_3J {
	padding: 40px 20px 84px;
	background-color: var(--background2Color)
}

@media only screen and (min-width:1024px) {
	.purchase-personalized_subContainer__EB_3J {
		padding-top: 64px
	}
}

.purchase-personalized_title__wFlLD {
	margin: 0 auto 24px;
	color: var(--neutral900Color);
	font-size: 24px;
	font-weight: 700;
	line-height: 1.17;
	text-align: center
}

@media only screen and (min-width:1024px) {
	.purchase-personalized_title__wFlLD {
		font-size: 32px;
		line-height: 1.25
	}
}

.purchase-personalized_bmiContainer__gLrZ7 {
	position: relative;
	margin-bottom: 40px
}

@media only screen and (min-width:1024px) {
	.purchase-personalized_bmiContainer__gLrZ7 {
		max-width: 1064px;
		margin: 0 auto
	}
}

.purchase-personalized_highlightsContainer__rqZ4i {
	position: relative;
	margin-bottom: 48px
}

@media only screen and (min-width:1024px) {
	.purchase-personalized_highlightsContainer__rqZ4i {
		max-width: 1064px;
		margin: 0 auto 64px
	}

	.purchase-personalized_successPercentContainer__ThdTr {
		max-width: 1032px;
		margin: 0 auto
	}
}

.purchase-personalized_fixedToBottomBlock__LTNYU {
	position: fixed;
	z-index: 3;
	right: 0;
	bottom: -5px;
	left: 0;
	padding: 18px 20px;
	text-align: center
}

@media only screen and (min-width:1024px) {
	.purchase-personalized_fixedToBottomBlock__LTNYU {
		width: 100%;
		max-width: 328px;
		padding: 24px 0;
		margin: 0 auto
	}
}

/*# sourceMappingURL=6c8b79a7ca21888c.css.map*/
