.legal-text-from-constructor-parsed_legalTextParsed__vzQ5w p {
	display: inline
}

.legal-text-from-constructor-with-modal_legal__KH_aT {
	font-size: 14px;
	line-height: 1.43;
	text-align: center
}

.legal-text-from-constructor-with-modal_legal__KH_aT,
.legal-text-from-constructor-with-modal_legal__KH_aT a {
	color: var(--neutral700Color)
}

.legal-text-from-constructor-with-modal_legalFull__BnAZR {
	max-width: 100%;
	margin: 0;
	font-size: 14px;
	line-height: 1.428;
	text-align: left
}

.legal-text-from-constructor-with-modal_infoButton__51wm6 {
	display: inline-flex;
	width: 16px;
	height: 16px;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0 3px 0 0;
	background: transparent;
	cursor: pointer;
	vertical-align: middle
}

.legal-text-from-constructor-with-modal_infoIcon__cYPvp {
	display: block;
	width: 13px;
	height: 13px
}

.checkbox-compliance_container__yvnwU {
	display: flex;
	justify-content: space-between;
	margin: 0 auto 20px
}

.checkbox-compliance_label__3Er2k span {
	color: var(--neutral600Color);
	font-size: 12px;
	line-height: 1.3
}

.checkbox-compliance_label__3Er2k span a {
	color: var(--neutral600Color)
}

.checkbox-compliance_checkboxWrapper__E3fQ_ {
	position: relative;
	margin-top: 2px;
	margin-right: 12px
}

.checkbox-compliance_checkbox__2ReIH {
	cursor: pointer
}

.checkbox-compliance_checkbox__2ReIH input {
	width: 16px;
	height: 16px;
	border: none;
	margin: 0;
	outline: none;
	visibility: hidden
}

.checkbox-compliance_checkmark___IbTd {
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #a3b3c6;
	border-radius: 4px
}

.checkbox-compliance_checkbox__2ReIH:hover input~.checkbox-compliance_checkmark___IbTd {
	background-color: #ccc
}

.checkbox-compliance_checkbox__2ReIH input:checked~.checkbox-compliance_checkmark___IbTd {
	border: 1px solid var(--primary400Color);
	background-color: var(--primary400Color)
}

.checkbox-compliance_checkmark___IbTd:after {
	position: absolute;
	display: none;
	content: ""
}

.checkbox-compliance_checkbox__2ReIH .checkbox-compliance_checkmark___IbTd:after {
	top: 2px;
	left: 4.5px;
	width: 3px;
	height: 7px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg)
}

.checkbox-compliance_checkbox__2ReIH input:checked~.checkbox-compliance_checkmark___IbTd:after {
	display: block
}

.faq-accordion_uButton__s34vS {
	padding: var(--buttonPadding) 24px;
	border: 0;
	background: #ccc;
	border-radius: var(--buttonRadius);
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 1.5;
	outline: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s
}

.faq-accordion_uGreenButton__7KVGI {
	background: var(--primary400Color);
	box-shadow: 0 12px 23px var(--primaryButtonShadowColor)
}

.faq-accordion_uGreenButton__7KVGI:disabled {
	background-color: var(--neutral200Color);
	box-shadow: none;
	color: var(--neutral500Color);
	cursor: not-allowed
}

.faq-accordion_uGreenWideButton__ocESo,
.faq-accordion_uWideButton__pp2zA {
	display: block;
	width: 100%;
	max-width: 295px;
	margin: 0 auto
}

.faq-accordion_uWideButton__pp2zA {
	background: var(--primary400Color);
	box-shadow: 0 12px 23px var(--primaryButtonShadowColor)
}

.faq-accordion_uWideButton__pp2zA:disabled {
	background-color: var(--neutral200Color);
	box-shadow: none;
	color: var(--neutral500Color);
	cursor: default
}

.faq-accordion_uInput__M5T6p {
	width: calc(100% - 6px);
	padding: 12px 16px;
	border: 1px solid var(--neutral700Color);
	margin-left: 3px;
	-webkit-appearance: none;
	background: var(--background3Color);
	border-radius: 12px;
	color: var(--neutral900Color);
	font-size: 16px;
	line-height: 1.4;
	outline: none
}

.faq-accordion_uInput__M5T6p:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px var(--background3Color) inset;
	-webkit-text-fill-color: var(--neutral900Color)
}

.faq-accordion_uInput__M5T6p:hover {
	border: 1px solid var(--neutral900Color)
}

.faq-accordion_uInput__M5T6p:-webkit-autofill:active,
.faq-accordion_uInput__M5T6p:-webkit-autofill:focus,
.faq-accordion_uInput__M5T6p:active,
.faq-accordion_uInput__M5T6p:focus {
	padding: 11px 15px;
	border: 2px solid var(--neutral900Color)
}

.faq-accordion_uInput__M5T6p:-webkit-autofill:hover {
	border: 1px solid var(--neutral900Color)
}

.faq-accordion_uInput__M5T6p.faq-accordion_isInvalid__SN0xo {
	padding: 12px 16px;
	border: 1px solid var(--accentRedColor)
}

.faq-accordion_uContentCard__wCjUK {
	padding: 18px;
	margin: 16px 14px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 10px 20px hsla(0, 0%, 87%, .6)
}

.faq-accordion_uInputError__77pW_ {
	position: absolute;
	bottom: -20px;
	left: 50%;
	color: var(--accentRedColor);
	text-align: center;
	transform: translate(-50%);
	white-space: nowrap
}

.faq-accordion_desktopOnly__xq_LO {
	display: none
}

@media only screen and (min-width:1024px) {
	.faq-accordion_desktopOnly__xq_LO {
		display: block
	}

	.faq-accordion_mobileOnly__cxf43 {
		display: none
	}
}

.faq-accordion_legal__wCbSL {
	color: var(--neutral700Color);
	font-size: 12px;
	line-height: 1.45;
	text-align: center
}

.faq-accordion_container__leW8s {
	padding: 24px 20px 32px;
	margin: auto;
	background: var(--background3Color);
	border-radius: 12px;
	box-shadow: 0 2px 6px rgba(22, 42, 65, .06), 0 12px 24px rgba(7, 21, 37, .08)
}

@media only screen and (min-width:1024px) {
	.faq-accordion_container__leW8s {
		padding: 0;
		background: transparent;
		border-radius: 0;
		box-shadow: none
	}
}

.faq-accordion_title__85xZa {
	display: block;
	margin-bottom: 16px;
	color: var(--neutral900Color);
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -.01em;
	line-height: 1.33;
	text-align: center
}

@media only screen and (min-width:1024px) {
	.faq-accordion_title__85xZa {
		margin-bottom: 24px;
		font-size: 32px;
		line-height: 1.25
	}
}

.faq-accordion_questionsList__yRzlP {
	padding-left: 36px
}

@media only screen and (min-width:1024px) {
	.faq-accordion_questionsList__yRzlP {
		padding-left: 0
	}
}

.faq-accordion_faqItemOpened__UZn8C:not(:last-child),
.faq-accordion_faqItem__8PP8i:not(:last-child) {
	margin-bottom: 8px
}

@media only screen and (min-width:1024px) {

	.faq-accordion_faqItemOpened__UZn8C,
	.faq-accordion_faqItem__8PP8i {
		overflow: hidden;
		background: var(--background3Color);
		border-radius: 12px;
		box-shadow: 1px 1px 4px rgba(36, 36, 36, .08), 0 0 8px rgba(36, 36, 36, .08)
	}

	.faq-accordion_faqItemOpened__UZn8C:not(:last-child),
	.faq-accordion_faqItem__8PP8i:not(:last-child) {
		margin-bottom: 24px
	}
}

.faq-accordion_faqQuestion__Lyz_T {
	position: relative;
	margin-bottom: 8px;
	border-radius: 12px;
	color: var(--neutral900Color);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5
}

@media only screen and (min-width:1024px) {
	.faq-accordion_faqQuestion__Lyz_T {
		padding: 32px 60px;
		margin-bottom: 0;
		background: var(--background3Color);
		box-shadow: 1px 1px 4px rgba(36, 36, 36, .08), 0 0 8px rgba(36, 36, 36, .08);
		cursor: pointer;
		font-weight: 700
	}
}

.faq-accordion_faqQuestion__Lyz_T:before {
	position: absolute;
	top: 50%;
	right: calc(100% + 12px);
	width: 24px;
	height: 24px;
	background-color: var(--primary400Color);
	background-image: url(/img/page-checkout/question-white.svg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 12px 16px;
	border-radius: 50%;
	content: "";
	transform: translateY(-50%)
}

@media only screen and (min-width:1024px) {
	.faq-accordion_faqQuestion__Lyz_T:before {
		right: auto;
		left: 24px
	}
}

.faq-accordion_faqQuestion__Lyz_T:lang(ar) {
	display: flex;
	flex-direction: row-reverse
}

.faq-accordion_faqItemBtn__0msy0 {
	display: none
}

@media only screen and (min-width:1024px) {
	.faq-accordion_faqItemBtn__0msy0 {
		position: absolute;
		top: 50%;
		right: 12px;
		display: flex;
		width: 48px;
		height: 48px;
		align-items: center;
		justify-content: center;
		transform: translateY(-50%)
	}
}

.faq-accordion_faqItemBtnIcon__phkTC {
	display: block;
	width: 24px;
	height: 24px;
	fill: var(--blackColor);
	transition: transform .25s
}

.faq-accordion_faqItemOpened__UZn8C .faq-accordion_faqItemBtnIcon__phkTC {
	transform: rotate(180deg)
}

@media only screen and (min-width:1024px) {
	.faq-accordion_faqAnswer__Qc5HM {
		max-height: 0;
		transition: max-height .35s
	}

	.faq-accordion_faqItemOpened__UZn8C .faq-accordion_faqAnswer__Qc5HM {
		max-height: 500px
	}
}

.faq-accordion_faqAnswerText__6jHiw {
	color: var(--neutral700Color);
	font-size: 14px;
	letter-spacing: -.01em;
	line-height: 1.43
}

@media only screen and (min-width:1024px) {
	.faq-accordion_faqAnswerText__6jHiw {
		padding: 24px 24px 32px
	}
}

.money-back-guarantee_container__l9cZc {
	width: 100%;
	padding-bottom: 40px
}

.money-back-guarantee_content__I5nSa {
	position: relative;
	padding: 12px;
	margin: 0 auto;
	background: var(--background3Color);
	border-radius: 12px;
	box-shadow: 0 2px 6px rgba(22, 42, 65, .06), 0 12px 24px rgba(7, 21, 37, .08)
}

.money-back-guarantee_contentInner__97Tn8 {
	position: relative;
	padding: 24px 16px 32px;
	border: 2px solid var(--primary400Color);
	border-radius: 12px
}

.money-back-guarantee_contentInner__97Tn8:after {
	position: absolute;
	right: 18px;
	bottom: -4px;
	width: 68px;
	height: 6px;
	background: var(--background3Color);
	content: ""
}

.money-back-guarantee_title__aWMK1 {
	display: block;
	margin-bottom: 16px;
	color: var(--neutral900Color);
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -.01em;
	line-height: 32px;
	text-align: center
}

.money-back-guarantee_text__9lfwt {
	display: block;
	color: var(--neutral700Color);
	font-size: 14px;
	letter-spacing: -.01em;
	line-height: 22px
}

.money-back-guarantee_text__9lfwt a {
	color: var(--primary400Color)
}

.money-back-guarantee_text__9lfwt:not(:last-child) {
	margin-bottom: 16px
}

.money-back-guarantee_stamp__VLbmZ {
	position: absolute;
	right: 34px;
	bottom: -40px
}

.money-back-guarantee_stamp__VLbmZ .money-back-guarantee_stampPath__2Xkks {
	fill: var(--primary400Color)
}

.info-message-page_main__zXrhY {
	position: relative;
	padding-top: 48px
}

.info-message-page_container__klbfy {
	display: flex;
	flex-direction: column;
	padding: 20px
}

.info-message-page_title__ceEdw {
	margin: 0 auto 24px;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33px
}

.info-message-page_circle__POqQM {
	width: 120px;
	height: 120px;
	padding: 24px;
	margin: 28px auto 32px;
	background: var(--neutral200Color);
	border-radius: 200px
}

.info-message-page_text__IBFZH {
	max-width: 295px;
	margin: 0 auto 24px;
	color: var(--neutral700Color);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center
}

.info-message-page_cardImage__vLa3t {
	width: 100%
}

.header-with-countdown-desktop_header__F3_JQ {
	position: fixed;
	z-index: 210;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	height: 80px;
	align-items: center;
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
	background: var(--blurredHeaderBackgroundColor);
	transition: box-shadow .35s
}

.header-with-countdown-desktop_headerShadowed__xZCsg {
	box-shadow: 0 2px 16px rgba(0, 0, 0, .08)
}

.header-with-countdown-desktop_container__3XHAD {
	position: relative;
	width: 100%;
	max-width: 1392px;
	padding: 0 180px;
	margin: auto
}

.header-with-countdown-desktop_logo__aNd0B {
	position: absolute;
	top: 50%;
	left: 40px;
	width: 135px;
	height: auto;
	transform: translateY(-50%)
}

.header-with-countdown-desktop_logo__aNd0B:lang(ar) {
	right: 40px
}

.header-with-countdown-desktop_logoImage__QPhTP {
	display: block;
	width: 100%;
	height: auto
}

.header-with-countdown-desktop_burgerButton__ef2ej {
	position: absolute;
	top: 50%;
	right: 56px;
	transform: translateY(-50%)
}

.header-with-countdown-desktop_burgerButton__ef2ej:lang(ar) {
	right: calc(100% - 56px)
}

.header-with-countdown-desktop_countdown__EO0tI {
	display: flex;
	justify-content: flex-end
}

.bulleted-list_item__jDRYy {
	position: relative;
	padding-left: 28px
}

.bulleted-list_item__jDRYy:not(:last-child) {
	margin-bottom: 16px
}

.bulleted-list_item__jDRYy:lang(ar) {
	padding-right: 28px;
	padding-left: 0
}

.bulleted-list_itemBullet__AmJDz {
	position: absolute;
	top: 3px;
	left: 0;
	display: flex;
	width: 16px;
	height: 16px;
	align-items: center;
	justify-content: center;
	background: var(--primary400Color);
	border-radius: 50%
}

.bulleted-list_itemBullet__AmJDz:lang(ar) {
	right: 0;
	left: auto
}

.bulleted-list_itemIcon__0TIde {
	display: block;
	width: 100%;
	height: auto;
	fill: #fff
}

.bulleted-list_itemText__1DO_8 {
	color: var(--neutral900Color);
	font-size: 16px;
	line-height: 1.5
}

.footnote_footnote__CVh5n {
	color: var(--neutral600Color);
	font-size: 12px;
	line-height: 1.5
}

.title_title__E__HO {
	margin: auto;
	color: var(--neutral900Color);
	font-size: 24px;
	font-weight: 700;
	line-height: 1.4;
	text-align: center
}

.title_title__E__HO span {
	color: var(--primary400Color)
}

@media only screen and (min-width:1024px) {
	.title_title__E__HO {
		font-size: 32px;
		line-height: 1.25;
		text-align: left
	}
}

.shortcodes_highlighted__Iy_OP {
	color: var(--primary400Color)
}

.shortcodes_red__qYs8Z {
	color: #df4142
}

.shortcodes_disclaimer__IBtzt {
	position: relative;
	bottom: 8px;
	color: var(--neutral400Color);
	font-size: 8px;
	font-weight: 500;
	line-height: 100%
}

.shortcodes_disclaimer__IBtzt:lang(pl),
.shortcodes_disclaimer__IBtzt:lang(ru) {
	bottom: 5px
}

@media only screen and (min-width:1024px) {
	.app-store-reviews_appStoreReviews__OZ8dB.app-store-reviews_isAdjustedToDesktop__E9dnw {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between
	}
}

.app-store-reviews_appStoreReviewsTitle__K85Kb {
	margin-bottom: 24px;
	color: var(--neutral900Color);
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33;
	text-align: center
}

@media only screen and (min-width:1024px) {
	.app-store-reviews_appStoreReviewsTitle__K85Kb {
		display: block;
		font-size: 32px
	}

	.app-store-reviews_isAdjustedToDesktop__E9dnw .app-store-reviews_appStoreReviewsTitle__K85Kb {
		flex: 0 0 100%
	}
}

.app-store-reviews_appStoreReviewsSubtitle__6crPQ {
	display: none
}

@media only screen and (min-width:1024px) {
	.app-store-reviews_appStoreReviewsSubtitle__6crPQ {
		display: none;
		flex: 0 0 100%;
		margin-bottom: 40px;
		color: var(--neutral700Color);
		text-align: center
	}

	.app-store-reviews_isAdjustedToDesktop__E9dnw .app-store-reviews_appStoreReviewsSubtitle__6crPQ {
		display: block
	}
}

.app-store-reviews_appStoreReview__bEJnK {
	padding: 20px;
	background: var(--background3Color);
	border-radius: 12px;
	box-shadow: 0 2px 8px rgba(22, 42, 65, .04), 0 14px 26px rgba(7, 21, 37, .1);
	color: var(--neutral900Color)
}

.app-store-reviews_appStoreReview__bEJnK:not(:last-child) {
	margin-bottom: 24px
}

@media only screen and (min-width:1024px) {
	.app-store-reviews_isAdjustedToDesktop__E9dnw .app-store-reviews_appStoreReview__bEJnK {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: calc(33% - 16px);
		margin-bottom: 0
	}
}

.app-store-reviews_title__McvZz {
	padding-bottom: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1
}

.app-store-reviews_titleGroup__ZqytY {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.app-store-reviews_titleGroup__ZqytY:first-child {
	padding-bottom: 6px
}

.app-store-reviews_titleText__UhR6E {
	margin-right: 10px;
	color: var(--neutral900Color)
}

.app-store-reviews_dateNameText__tgusm {
	color: var(--neutral600Color);
	font-size: 13px;
	font-weight: 600;
	line-height: 1.23;
	white-space: nowrap
}

.app-store-reviews_review__MS3Ir {
	color: var(--neutral700Color);
	font-size: 14px;
	letter-spacing: -.001em;
	line-height: 1.43
}

.app-store-reviews_reviewExpandable__UCj2D {
	position: relative;
	overflow: hidden;
	max-height: 80.08px
}

.app-store-reviews_expandButton__aIg_C {
	position: absolute;
	right: 0;
	bottom: 0;
	padding-left: 22px;
	background: var(--cardMoreBtnBackgroundColor);
	color: #2c70c3;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: -.001em;
	line-height: 20.02px;
	outline: none;
	text-decoration: none
}

.app-store-reviews_expandButton__aIg_C:lang(ar) {
	right: auto;
	left: 0;
	padding-right: 22px;
	padding-left: 0;
	background: var(--cardMoreBtnBackgroundArColor)
}

.bulleted-list-with-image_container__rRF_z {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 0
}

@media only screen and (min-width:1024px) {
	.bulleted-list-with-image_container__rRF_z {
		grid-column-gap: 24px;
		grid-template-columns: auto 592px
	}
}

.bulleted-list-with-image_container__rRF_z:lang(ar) {
	display: flex;
	flex-direction: row-reverse
}

.bulleted-list-with-image_colImg__7zw1J {
	display: none
}

@media only screen and (min-width:1024px) {
	.bulleted-list-with-image_colImg__7zw1J {
		display: block
	}
}

.bulleted-list-with-image_title__xlp4c {
	margin-bottom: 16px
}

@media only screen and (min-width:1024px) {
	.bulleted-list-with-image_title__xlp4c {
		margin-bottom: 24px
	}
}

.bulleted-list-with-image_title__xlp4c:lang(ar) h2 {
	text-align: start
}

.bulleted-list-with-image_titleMobileHidden___H41k {
	display: none
}

@media only screen and (min-width:1024px) {
	.bulleted-list-with-image_titleMobileHidden___H41k {
		display: block
	}

	.bulleted-list-with-image_titleDesktopHidden__JsROj {
		display: none
	}
}

.bulleted-list-with-image_image___d4HJ {
	display: block;
	width: 100%;
	height: auto
}

.bulleted-list-with-image_note__KvH6I {
	display: none
}

@media only screen and (min-width:1024px) {
	.bulleted-list-with-image_note__KvH6I {
		display: block;
		margin-top: 16px
	}
}

.featured-in_wasCoveredIn__qOdZl {
	padding: 32px 0;
	background-color: var(--background1Color)
}

.featured-in_featuredInComponent__uyIRp {
	width: 100%;
	max-width: 375px;
	padding: 0 20px;
	margin-right: auto;
	margin-left: auto
}

.content-container_container__DMPhG {
	position: relative;
	width: 100%;
	max-width: 672px;
	padding: 0 20px;
	margin: 0 auto
}

@media only screen and (min-width:1024px) {
	.content-container_container__DMPhG {
		max-width: 1112px;
		padding: 0 40px
	}

	.checkout-generated-universal_mobileOnly__FKnJE {
		display: none
	}
}

.checkout-generated-universal_desktopOnly__aA0Qt {
	display: none
}

@media only screen and (min-width:1024px) {
	.checkout-generated-universal_desktopOnly__aA0Qt {
		display: block
	}
}

.checkout-generated-universal_loader__SEiqF {
	position: fixed;
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background: var(--background1Color, #fff);
	opacity: .6;
	z-index: 999
}

.checkout-generated-universal_container__oV9Mx {
	position: relative;
	width: 100%;
	max-width: 1112px;
	padding: 0 20px;
	margin: auto
}

@media only screen and (min-width:1024px) {
	.checkout-generated-universal_container__oV9Mx {
		padding: 0 40px
	}
}

.checkout-generated-universal_main__iFAnz {
	position: relative
}

@media only screen and (min-width:1024px) {
	.checkout-generated-universal_headerWithCountdown__RRpca {
		padding-top: 80px
	}
}

.checkout-generated-universal_titleSection__zJOg3 {
	padding: 16px 0 24px;
	background-color: var(--background1Color);
	text-align: center
}

.checkout-generated-universal_feedbacksSection__OlUPO {
	overflow: auto;
	padding: 32px 0;
	background: var(--neutral100Color)
}

@media only screen and (min-width:1024px) {
	.checkout-generated-universal_feedbacksSection__OlUPO {
		padding: 64px 0 32px
	}
}

.checkout-generated-universal_legalSection__nG2MW {
	overflow: auto;
	padding: 16px 0 32px;
	background: var(--neutral100Color)
}

@media only screen and (min-width:1024px) {
	.checkout-generated-universal_legalSection__nG2MW {
		padding: 32px 0 64px
	}
}

.checkout-generated-universal_titleSingle__YUJid,
.checkout-generated-universal_title__viYYI {
	display: block;
	margin-bottom: 16px;
	color: var(--neutral900Color);
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33
}

.checkout-generated-universal_titleSingle__YUJid span,
.checkout-generated-universal_title__viYYI span {
	color: var(--primary500Color)
}

.checkout-generated-universal_titleSingle__YUJid {
	margin-bottom: 0
}

.checkout-generated-universal_subTitle__ANKxt {
	color: var(--neutral900Color);
	font-size: 16px;
	line-height: 1.375
}

.checkout-generated-universal_subTitle__ANKxt span {
	color: var(--primary400Color);
	font-weight: 700
}

.checkout-generated-universal_successStories__3ChSQ {
	margin: 0 auto 32px
}

@media only screen and (min-width:1024px) {
	.checkout-generated-universal_successStories__3ChSQ {
		margin: 0 auto 64px
	}
}

.checkout-generated-universal_successStories__3ChSQ .checkout-generated-universal_disclaimer__xBdcD {
	margin: 40px auto 0
}

@media only screen and (min-width:1024px) {
	.checkout-generated-universal_successStories__3ChSQ .checkout-generated-universal_disclaimer__xBdcD {
		max-width: 690px
	}
}

.checkout-generated-universal_legalSectionBgLeft__XMqeJ {
	position: absolute;
	top: 84px;
	left: 40px;
	width: 279px;
	height: auto
}

.checkout-generated-universal_legalSectionBgRight__jlACf {
	position: absolute;
	top: 0;
	right: 60px;
	width: 247px;
	height: auto
}

.checkout-generated-universal_faq__qz2hk {
	margin: 0 auto 32px
}

@media only screen and (min-width:1024px) {
	.checkout-generated-universal_faq__qz2hk {
		position: relative;
		width: 100%;
		max-width: 680px;
		margin: 0 auto 64px
	}

	.checkout-generated-universal_moneyBackGuarantee__Mmeoa {
		width: 100%;
		max-width: 680px;
		margin: auto
	}
}

.checkout-generated-universal_checkboxCompliance__HdH6i {
	max-width: 328px;
	margin: 24px auto 0
}

.checkout-generated-universal_paymentButton__xsasU {
	margin-top: 24px;
	text-align: center
}

@media only screen and (min-width:1024px) {
	.checkout-generated-universal_paymentButton__xsasU {
		max-width: 328px;
		margin: 24px auto 0
	}
}

.checkout-generated-universal_button__aoW5v {
	display: block;
	width: 100%;
	max-width: 328px;
	margin: 0 auto
}

.checkout-generated-universal_aboveButtonElement__w3y2T {
	width: 100%
}

@media only screen and (min-width:1024px) {
	.checkout-generated-universal_aboveButtonElement__w3y2T {
		max-width: 680px;
		margin: auto
	}
}

.checkout-generated-universal_legalText__JjFgM {
	width: 100%;
	margin: 27px auto 0
}

@media only screen and (min-width:1024px) {
	.checkout-generated-universal_legalText__JjFgM {
		max-width: 680px
	}
}

.checkout-generated-universal_underButtonLegalText__R2UTs {
	width: 100%;
	margin: 27px auto 0;
	color: var(--neutral600Color);
	font-size: 11px;
	line-height: 1.45;
	text-align: center
}

.checkout-generated-universal_underButtonLegalText__R2UTs a {
	color: var(--neutral600Color)
}

.checkout-generated-universal_customizableArea__rqIW2 {
	padding-top: 48px
}

@media only screen and (min-width:1024px) {
	.checkout-generated-universal_customizableArea__rqIW2 {
		padding-top: 0
	}
}

.checkout-generated-universal_legal__jgz9Z {
	max-width: 680px;
	margin: 24px auto 0;
	color: var(--neutral700Color);
	font-size: 11px;
	font-weight: 300;
	line-height: 1.45;
	text-align: center
}

.checkout-generated-universal_legal__jgz9Z a {
	color: var(--neutral700Color)
}

.checkout-generated-universal_legalAddress__IiW_I {
	margin-top: 24px
}

/*# sourceMappingURL=9e005d8f58a4746e.css.map*/
